<!-- Dashboard Main Start -->
<div class="dash_body">
    <div class="api_key_section">
        <div class="container">
            <div class="row text-center mb-3">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="welcom_heading">
                        Welcome, abdul qayyum </div>
                    <div class="small_head pl-1">Your Accounts Dashboard</div>
                </div>
            </div>


            <!-- Table Start -->
            <div class="row">
                <div class="col-md-12">
                    <div class="api_key_tab shadow mt-5">
                        <div class="api_key_head">Standard Api Key</div>
                        <div class="api_key_box">
                            <div class="row text-center mt-3">
                                <div class="col-lg-6">
                                    <div class="sub_head">Type</div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="sub_head">Api Key</div>
                                </div>
                            </div>
                        </div>

                        <div class="api_key_box active">
                            <div class="row text-center mt-3">
                                <div class="col-lg-6">
                                    <div class="sub_head_two">Public Key</div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="sub_head_two" id="btn_copy"
                                        data-clipboard-text="<%= current_user.public_key %>">
                                        <%= current_user.public_key %> <i class="far fa-copy"></i></div>
                                </div>
                            </div>
                        </div>

                        <div class="api_key_box">
                            <div class="row text-center mt-3">
                                <div class="col-lg-6">
                                    <div class="sub_head_two">Secret Key</div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="secret">
                                        <div class="sub_head_two secret_key" id="btn_copy"
                                            data-clipboard-text="<%= current_user.secret_key %>">
                                            <%= current_user.secret_key %> <i class="far fa-copy"></i></div>
                                        <!-- <button  class="btn btn_secret">Click To Reveal</button> -->
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Target -->

            </div>

            <!-- Table End -->

        </div>
    </div>
</div>