<!-- dashboard header Start -->
<!-- <div class="dash_body"> -->

    <!-- dashboard header End -->
<!-- Dashboard Main Start -->
<div class="dashboard_main_page">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">

        </div>
      </div>

      <div class="row">
          <% current_user.wallets.each do |wallet|%>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="dashboard_main_box shadow text-center">
                    <div class="title"><%=  wallet.wallet_type %></div>
                    <div class="line"></div>
                    <div class="balance_one">
                    <div class="bal_title">Total Balance</div>
                    <div class="balance"><%= number_with_precision(number_to_currency(wallet.balance), precision: 2, delimiter: ',') %></div>
                    </div>

                    <div class="line"></div>
                    <button class="dash_view_more"><a href="<%= merchant_account_path(wallet) %>">View More</a></button>

                </div>
            </div>
          <% end %>
      </div>
    </div>
  </div>
  <!-- Dashboard Main Start -->
