<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <%= render partial: "shared/admin_bread_crumb", locals: {page: "Edit Payment Gateway", title: "Edit Payment Gateway"} %>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Edit Payment Gateway</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <%= render partial: "form", locals: { payment_gateway: @payment_gateway, url: admin_payment_gateway_path } %>
            </div>

            <!-- /.card -->

          </div>
          <!--/.col (left) -->


        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
