  <header id="header_section_api">
    <div class="container">
      <div class="main_nav">
        <div class="row align-content-center">

          <div class="brand_identity"><%= image_tag("logo_icon.png", {:style => "width:40px;"}) %></div>
          <!-- Toggle Navigation -->
          <div class="toggle_navigation">
            <i class="fas fa-bars"></i>
          </div>
          <!-- Toggle Navigation -->
            <%= render partial: "shared/menu" %>
        </div>
      </div>

    </div>
  </header>

  <!-- Api Docs Section Start -->
  <section id="apidocs_section">
    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="#">Docs</a></li>
              <li class="breadcrumb-item active" aria-current="page"><a href="#">Api Overview</a></li>
            </ol>
          </nav>
          <div class="heading">API Overview</div>
          <p>DistroPayment provides HTTP based API which follows the essence of REST*. The HTTP protocol's rules are
            followed thereby enabling simple HTTP client tools like "curl" to be used.</p>
          <p class="heading_2">Here we are introducing a new way of handling payment securely and easily with DistroPayment API.</p>
          <div>You can use it in an easy wayy</div>

          <div id="ruby_section">
           <div class="heading pt-3">Account setup</div>
            <p>Sign Up configure your site and your API keys. It is a global
              configuration and can set up as part of your server initialization</p>
           <div class="heading pt-3">Authentication token</div>
            <p>The first step is to create a token by sending API keys by a server-to-server POST request to DistroPayment.
            <br> Use the <span>https://distropayment.com/api/v1/auth_token/token</span></p>
            <div class="init_code"><span class="color_0">
              <div class="code_api">
                <div class="pl-3">
                  <span class="color_three">[ <br>
                  <pre  class="color_three"> {</pre>
                  <pre  class="color_three">   <span>"key":</span>"client_secret",<br></pre>
                  <pre  class="color_three">   <span>"value":</span>"SE7fceb1d113129da5f35c498b8a0a7"</pre>
                  <pre  class="color_three">  },</pre>
                  <pre  class="color_three">  { <br></pre>
                  <pre  class="color_three">    <span>"key":</span>"client_public",<br></pre>
                  <pre  class="color_three">    <span>"value":</span>"IDa971f36df184f0ce0887cd55"</pre>
                  <pre  class="color_three">  }</pre>
                  ]

                </div>
              </div>
            </div>
            <p><br>The response is in JSON format. A successful response provides the token in the location body, as follows:</p>
            <div class="init_code"><span class="color_three">{ <br>
            <pre  class="color_three"> <span> "access_token": </span> "2de7cbce1a775c2548835eb97b8a.."</pre>}</span></div>
           <div class="heading  pt-3">Card</div>
            <p> DistroPayment captures the shopper's sensitive card data via our Hosted Payment Fields, and binds it to the token. Your PCI compliance is reduced to SAQ-A because sensitive data never hits your sever.
            The second step is send token and card information server-to-server by POST request to DistroPayment
           <br> Use the <span>https://distropayment.com/api/v1/sales/virtual_terminal </p>
            <div class="init_code"><span class="color_0">
              <div class="code_api">
                <div class="pl-3">

                  <span class="color_three">[ <br>
                  <pre  class="color_three"> {</pre>
                  <pre  class="color_three">   <span>"key":</span>"access_token",<br></pre>
                  <pre  class="color_three">   <span>"value":</span>"2de7cbce1a775c2548835eb97b8a.."</pre>
                  <pre  class="color_three">  },</pre>

                  <pre  class="color_three">  { <br></pre>
                  <pre  class="color_three">    <span>"key":</span>"transaction[name]",</pre>
                  <pre  class="color_three">    <span>"value":</span>"Jhon"</pre>
                  <pre  class="color_three">  },</pre>

                  <pre  class="color_three">  { <br></pre>
                  <pre  class="color_three">    <span>"key":</span>"transaction[email]",</pre>
                  <pre  class="color_three">    <span>"value":</span>"jhonkozak@example.com"</pre>
                  <pre  class="color_three">  },</pre>

                  <pre  class="color_three">  { <br></pre>
                  <pre  class="color_three">    <span>"key":</span>"transaction[phone]",</pre>
                  <pre  class="color_three">    <span>"value":</span>"+5434309242"</pre>
                  <pre  class="color_three">  },</pre>

                  <pre  class="color_three">  { <br></pre>
                  <pre  class="color_three">    <span>"key":</span>"transaction[amount]",</pre>
                  <pre  class="color_three">    <span>"value":</span>"1000"</pre>
                  <pre  class="color_three">  },</pre>

                  <pre  class="color_three">  { <br></pre>
                  <pre  class="color_three">    <span>"key":</span>"transaction[card_number]",</pre>
                  <pre  class="color_three">    <span>"value":</span>"4242424242424242"</pre>
                  <pre  class="color_three">  },</pre>

                  <pre  class="color_three">  { <br></pre>
                  <pre  class="color_three">    <span>"key":</span>"transaction[exp_date]",</pre>
                  <pre  class="color_three">    <span>"value":</span>"05/22"</pre>
                  <pre  class="color_three">  },</pre>

                  <pre  class="color_three">  { <br></pre>
                  <pre  class="color_three">    <span>"key":</span>"transaction[cvc]",</pre>
                  <pre  class="color_three">    <span>"value":</span>"123"</pre>
                  <pre  class="color_three">  }</pre>
                  ]
                </div>
              </div>
            </div>
            <div class="heading_6 pt-3">RESPONSE</div>
            <p>The response is in JSON format. Currently Virtual_terminal does not support any other response format. The
              Virtual_terminal class wraps the response sent by the server.</p>
            <div class="init_code"><span class="color_0">
              <div class="code_api">
                    <div class="pl-3">
                     <span class="color_three">{ <br>
                            <span>"message": </span>"Payment successful ", <br>
                            <span>"success": </span> true, <br>
                            <span>"status": </span> 200, <br>
                            <span>"ref_id": </span> "5155dd393a380e22939015e690ba92cb"
                            <br> }
                          <span class="color_two"></span><br>
                          <br>
                     </div>

              </div>
            </div>
          </div>


        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </section>
  <!-- Api Docs Section End -->

  <script type="text/javascript">
    $(".scrollTo").on('click', function (e) {
      e.preventDefault();
      var target = $(this).attr('href');
      $('html, body').animate({
        scrollTop: ($(target).offset().top)
      }, 1000);
    });
  </script>

