<!-- Pricing Section -->
  <section class="pricing">
    <div class="container g-5">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="pricing-header-area">
            <div class="box">
              <div class="title">Simple Pricing</div>
              <p>Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
              <div class="row mt-3">
                <div class="col-md-6">
                  <div class="text-center">
                    <div class="numbers">1.4% + <span>20p</span></div>
                    <div>for European cards</div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="text-center">
                    <div class="numbers">1.4% + <span>20p</span></div>
                    <div>for Non European cards</div>
                  </div>
                </div>
              </div>

              <div class="list mt-5 mb-5">
                <ul>
                  <li><span class="circle bg-one">1</span> &nbsp; It uses a dictionary of over 200 Latin words,
                  </li>
                  <li><span class="circle bg-two">2</span> &nbsp; It uses a dictionary of over 200 Latin words,
                  </li>
                  <li><span class="circle bg-three">3</span> &nbsp; It uses a dictionary of over 200 Latin words,
                  </li>
                </ul>
              </div>
              <div class="text-center">
                <div class="ft-title"><a href="#">Get Started</a></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="pricing-header-area ">
            <div class="box info-box">
              <div class="title">Custom Pricing</div>
              <p>Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
              <div class="row mt-3">
                <div class="col-md-6">
                  <div class="text-center">
                    <div class="numbers">1.4% + <span>20p</span></div>
                    <div>for European cards</div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="text-center">
                    <div class="numbers">1.4% + <span>20p</span></div>
                    <div>for Non European cards</div>
                  </div>
                </div>
              </div>

              <div class="list mt-5 mb-5">
                <ul>
                  <li><span class="circle bg-one">1</span> &nbsp; It uses a dictionary of over 200 Latin words,
                  </li>
                  <li><span class="circle bg-two">2</span> &nbsp; It uses a dictionary of over 200 Latin words,
                  </li>
                  <li><span class="circle bg-three">3</span> &nbsp; It uses a dictionary of over 200 Latin words,
                  </li>
                </ul>
              </div>
              <div class="text-center">
                <div class="ft-title"><a href="#">Get Started</a></div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="price-box">
            <div class="row align-items-center">
              <div class="col-md-9" style="border-right: 2px solid #f2f2f2">
                <div class="d-flex align-items-center">
                  <div class="number">1</div>
                  <div class="title">Virtual Terminal</div>
                </div>
                <p>The generated Lorem Ipsum is therefore always free</p>
                <ul>
                  <div class="custom-flex">
                    <li><i class="fas fa-check"></i> It uses a dictionary of over 200
                    </li>
                    <li><i class="fas fa-check"></i> It uses a dictionary of over 200
                    </li>
                  </div>
                  <div class="custom-flex">
                    <li><i class="fas fa-check"></i> It uses a dictionary of over 200
                    </li>
                    <li><i class="fas fa-check"></i> It uses a dictionary of over 200
                    </li>
                  </div>
                </ul>
              </div>
              <div class="col-md-3">
                <div class="percentage">0.5% predefined chunks as necessary</div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="price-box">
            <div class="row align-items-center">
              <div class="col-md-9" style="border-right: 2px solid #f2f2f2">
                <div class="d-flex align-items-center">
                  <div class="number bg-two">2</div>
                  <div class="title">Withdraw</div>
                </div>
                <p>The generated Lorem Ipsum is therefore always free</p>
                <ul>
                  <div class="custom-flex">
                    <li><i class="fas fa-check"></i> It uses a dictionary of over 200
                    </li>
                    <li><i class="fas fa-check"></i> It uses a dictionary of over 200
                    </li>
                  </div>
                  <div class="custom-flex">
                    <li><i class="fas fa-check"></i> It uses a dictionary of over 200
                    </li>
                    <li><i class="fas fa-check"></i> It uses a dictionary of over 200
                    </li>
                  </div>
                </ul>
              </div>
              <div class="col-md-3">
                <div class="percentage">0.5% predefined chunks as necessary</div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="price-box">
            <div class="row align-items-center">
              <div class="col-md-9" style="border-right: 2px solid #f2f2f2">
                <div class="d-flex align-items-center">
                  <div class="number bg-three">3</div>
                  <div class="title">Account Transfer</div>
                </div>
                <p>The generated Lorem Ipsum is therefore always free</p>
                <ul>
                  <div class="custom-flex">
                    <li><i class="fas fa-check"></i> It uses a dictionary of over 200
                    </li>
                    <li><i class="fas fa-check"></i> It uses a dictionary of over 200
                    </li>
                  </div>
                  <div class="custom-flex">
                    <li><i class="fas fa-check"></i> It uses a dictionary of over 200
                    </li>
                    <li><i class="fas fa-check"></i> It uses a dictionary of over 200
                    </li>
                  </div>
                </ul>
              </div>
              <div class="col-md-3">
                <div class="percentage">0.5% predefined chunks as necessary</div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="price-box">
            <div class="row align-items-center">
              <div class="col-md-9" style="border-right: 2px solid #f2f2f2">
                <div class="d-flex align-items-center">
                  <div class="number">4</div>
                  <div class="title">Sale api</div>
                </div>
                <p>The generated Lorem Ipsum is therefore always free</p>
                <ul>
                  <div class="custom-flex">
                    <li><i class="fas fa-check"></i> It uses a dictionary of over 200
                    </li>
                    <li><i class="fas fa-check"></i> It uses a dictionary of over 200
                    </li>
                  </div>
                  <div class="custom-flex">
                    <li><i class="fas fa-check"></i> It uses a dictionary of over 200
                    </li>
                    <li><i class="fas fa-check"></i> It uses a dictionary of over 200
                    </li>
                  </div>
                </ul>
              </div>
              <div class="col-md-3">
                <div class="percentage">0.5% predefined chunks as necessary</div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- /.Pricing Section -->
