<!-- Start Page Banner -->
        <div class="page-banner-area">
            <div class="container">
                <div class="page-banner-content">
                    <h2>Privacy Policy</h2>
                    <ul>
                        <li>
                            <a href="/" data-turbolinks="false">Home</a>
                        </li>
                        <li>Privacy policy</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Page Banner -->
        
        <!-- Start Privacy Policy Area -->
        <section class="privacy-policy-area ptb-100">
            <div class="container">
                <div class="section-title">
                    <h2>Leve privacy policy</h2>
                    <p>This policy was last updated October 01, 2025.</p>
                </div>

                <div class="privacy-policy-image">
                    <%= image_tag "privacy-policy.jpg" %>
                    <!-- <img src="assets/img/privacy-policy.jpg" alt="image"> -->
                </div>

				<div class="privacy-content">
					<h3>Introduction</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut abore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com modo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolor fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                    
                    <h3>Credit reporting policy</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut abore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com modo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com modo consequat.</p>
                    <ol>
                        <li>It has survived not only five centuries, but also the leap into electronic typesetting.</li>
                        <li>Contrary to popular belief, Lorem Ipsum is not simply random text.</li>
                        <li>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</li>
                        <li>Various versions have evolved over the years, sometimes by accident sometimes on purpose.</li>
                    </ol>

                    <h3>Data protection policy</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut abore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com modo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>

                    <h3>Personal data we collect</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com modo consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>

                    <h3>What we use personal data for</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut abore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com modo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                    <ol>
                        <li>It has survived not only five centuries, but also the leap into electronic typesetting.</li>
                        <li>Contrary to popular belief, Lorem Ipsum is not simply random text.</li>
                        <li>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</li>
                    </ol>

                    <h3>Security information</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut abore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com modo consequat.</p>
				</div>
            </div>
        </section>
        <!-- End Privacy Policy Area -->