<div id="dash_header">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="dash_header_left ml-5">
          <div class="welcom_heading">
            Welcome, </div>
          <div class="small_head pl-2">Your Accounts Dashboard</div>
        </div>
        <div class="dash_header_right ml-auto">
          <div class="toggle"></div>
          <ul>
            <li><a href="#">
                <div class="notify_icon shadow-sm"><i class="fas fa-bell"></i></div>
                
              </a></li>
            <li><a href="#">
                <div class="user_icon shadow-sm"><i class="far fa-user-circle"></i></div>
              </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<!-- Virtual Terminal Form -->
    <div class="client_form">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <form class="shadow">
                        <div class="heading">Customer Info</div>
                        <div class="form-row">
                          <div class="form-group col-md-4">
                            <label for="inputEmail4">Client Name</label>
                            <input type="text" class="form-control" id="inputEmail4" placeholder="Your Name">
                          </div>
                          <div class="form-group col-md-4">
                            <label for="inputEmail4">Email</label>
                            <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                          </div>
                          <div class="form-group col-md-4">
                            <label for="inputPassword4">Mobile Number</label>
                            <input type="tel" class="form-control"  placeholder="+92 2222 0000">
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="inputAddress">Client Address</label>
                          <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                        </div>
                        <div class="form-group">
                          <label for="inputAddress2">Suite/Appartment/Optional</label>
                          <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="inputCity">City</label>
                            <input type="text" class="form-control" id="inputCity" placeholder="City">
                          </div>
                          <div class="form-group col-md-6">
                            <label for="inputState">Country</label>
                            <select id="inputState" class="form-control">
                              <option selected>Usa...</option>
                              <option>United Kingdom</option>
                            </select>
                          </div>
                         
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputState">State / province / region</label>
                                <select id="inputState" class="form-control">
                                  <option selected>Florida</option>
                                  <option>California</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                              <label for="inputZip">Zip</label>
                              <input type="text" class="form-control" id="inputZip" placeholder="18045">
                            </div>
                          </div>
                    
                        <div class="heading">Payment Info</div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputState">Account</label>
                                <select id="inputState" class="form-control">
                                  <option selected>Select Account</option>
                                </select>  
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Card Number</label>
                               <input type="tel" class="form-control"  inputmode="numeric" pattern="[0-9]*" autocomplete="cc-number" maxlength="19" placeholder="xxxx xxxx xxxx xxxx">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputState">Account</label>
                                <input type="text" class="form-control" placeholder="MM/YY">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Cvc</label>
                               <input type="tel" class="form-control"  inputmode="numeric" pattern="[0-9]*" autocomplete="cc-number" maxlength="19" placeholder="456">
                            </div>
                        </div>



                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Virtual Terminal Form -->