<!-- Footer -->
  <footer>
    <div class="container">
      <div class="brand-title">DISTROPAYMENT.</div>
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="widget-title">How it works?</div>
          <ul>
            <li><a href="#">Invoice payments</a></li>
            <li><a href="#">Recuring payments</a></li>
            <li><a href="#">New payments</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="widget-title">Help & Resources</div>
          <ul>
            <li><a href="#">Terms & Condistions</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Frequently asked questions</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="widget-title">About Distro</div>
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Career</a></li>
            <li><a href="#">Blog</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="widget-title">Contact Us</div>
          <ul>
            <li><a href="#">Sales</a></li>
            <li><a href="#">+ 44 22 8484 000</a></li>
            <li><a href="#">info@distropayment.com</a></li>
          </ul>
        </div>
        <div class="border mt-2 mb-2"></div>
        <div class="copyright-warpper d-flex mt-3">
          <div class="copyright">&copy; copyright distropayment 2021</div>
          <div class="link">distropayment.com</div>
        </div>
      </div>
    </div>
  </footer>
  <!-- /.Footer -->
