<!--Footer Section Start-->

      <footer>
        <div class="container">
          <div class="row row-cols-5">
            <div class="col">
                <%= image_tag "logo.png" %>
              
            </div>
            <div class="col">
              <div class="ft_heading">How it works?</div>
              <ul>
                <li><a href="#">Invoice payments</a></li>
                <li><a href="#">Recuring payments</a></li>
                <li><a href="#">New Payments</a></li> 
              </ul>
            </div>
            <div class="col">
              <div class="ft_heading">Help & Resources</div>
              <ul>
                <li><a href="#">Support centre</a></li>
                <li><a href="#">Guides</a></li>
                <li><a href="#">Faq</a></li> 
              </ul>
            </div>
            
            <div class="col">
              <div class="ft_heading">About DistroPayment</div>
              <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Guides</a></li>
                <li><a href="#">Blog</a></li> 
              </ul>
            </div>
            <div class="col">
              <div class="ft_heading">Contact Us</div>
              <ul>
                <li><a href="#">Sales</a></li>
                <li><a href="#">+ 44 22 8484 000</a></li>
                <li><a href="#">info@stipe.com</a></li> 
              </ul>
            </div>
          </div>

          <div class="line mt-5"></div>

          <div class="copyright pt-2 ">&copy; copyright DistroPayment 2021</div>
          </div>
        </div>
      </footer>

      <!--Footer Section Start-->
    