<!-- Start Footer Area -->
        <section class="footer-area pt-100 pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <div class="footer-logo">
                                <h2><a href="index.html">Leve</a></h2>

                                <p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit, sed do eiusmod tempor incididunt labore et dolore magna aliqua.</p>

                                <ul class="social">
                                    <li>
                                        <a href="#" class="facebook" target="_blank">
                                            <i class='bx bxl-facebook'></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="twitter" target="_blank">
                                            <i class='bx bxl-twitter'></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="pinterest" target="_blank">
                                            <i class='bx bxl-instagram'></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="linkedin" target="_blank">
                                            <i class='bx bxl-linkedin'></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h3>Contact</h3>

                            <ul class="footer-contact-info">
                                <li>
                                    <i class='bx bxs-phone'></i>
                                    <span>Phone</span>
                                    <a href="tel:15147939-357">+1 (514) 7939-357</a>
                                </li>
                                <li>
                                    <i class='bx bx-envelope'></i>
                                    <span>Email</span>
                                    <a href="mailto:hello@leve.com">hello@leve.com</a>
                                </li>
                                <li>
                                    <i class='bx bx-map'></i>
                                    <span>Address</span>
                                    6890 Blvd, The Bronx, NY 1058 New York, USA
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget pl-5">
                            <h3>Services</h3>
    
                            <ul class="quick-links">
                                <li>
                                    <a href="#">Bank accounts</a>
                                </li>
                                <li>
                                    <a href="#">Savings</a>
                                </li>
                                <li>
                                    <a href="#">Credit cards</a>
                                </li>
                                <li>
                                    <a href="#">Loans</a>
                                </li>
                                <li>
                                    <a href="#">Car finance</a>
                                </li>
                                <li>
                                    <a href="#">Mobile banking</a>
                                </li>
                                <li>
                                    <a href="#">Online banking</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h3>Help & guidance</h3>
    
                            <ul class="quick-links">
                                <li>
                                    <a href="#">Privacy statement</a>
                                </li>
                                <li>
                                    <a href="#">Corporate information</a>
                                </li>
                                <li>
                                    <a href="#">Online banking help</a>
                                </li>
                                <li>
                                    <a href="#">Managing your money</a>
                                </li>
                                <li>
                                    <a href="#">Proving your identity</a>
                                </li>
                                <li>
                                    <a href="#">International banking</a>
                                </li>
                                <li>
                                    <a href="#">Help centre</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Footer Area -->

        <!-- Start Copy Right Area -->
        <div class="copyright-area">
            <div class="container">
                <div class="copyright-area-content">
                    <p>
                        <i class='bx bx-copyright'></i>
                        Copyright @2020 Leve. All Rights Reserved by
                        <a href="https://envytheme.com/" target="_blank">EnvyTheme</a>
                    </p>
                </div>
            </div>
        </div>
        <!-- End Copy Right Area -->

        <!-- Start Go Top Area -->
        <div class="go-top">
            <i class='bx bx-up-arrow-alt'></i>
        </div>
        <!-- End Go Top Area -->