<!-- Header Section Start -->
    <header id="header_section">
        <div class="container">
          <div class="main_nav">
          <div class="row align-content-center">
              <div class="brand_identity"><%= image_tag("logo.png", alt: "logo") %></div>

              <!-- Toggle Navigation -->
              <div class="toggle_navigation">
                <i class="fas fa-bars"></i>
              </div>
              <!-- Toggle Navigation -->
              <menu>
                <ul>
                  <li><a href="/">Home</a></li>`
                  <li><a href="#">About</a></li>
                  <li><a href="#">Pricing</a></li>
                  <li><a href="#">Resources</a></li>
                  <li><a href="#">Support</a></li>
                </ul>
              </menu>
              <div class="nav_right_area">
                <% if current_user.blank? %>
                  <button class="btn_log_in"><i class="fas fa-unlock"></i><a href="#">Sign In</a><%#= link_to "Sign In", new_user_session_path, data: {turbolinks: "false"}%></button>
                  <button class="btn_sign_up"><i class="fas fa-user"></i><a href="#">Sign Up</a></button>
                <% else %>
                  <button class="btn_sign_up"><i class="fas fa-user"></i><%= link_to "Logout",destroy_user_session_path, :method => :delete, data: {turbolinks: "false"} %></button>
                <% end %>
              </div>
            </div>
          </div>

          <!-- Hero Area Start -->
          <div class="row">
            <div class="col-md-4 col-xs-12">
          <div class="hero_area_left">
            
            <h1>Made for<br>payment process<br>online with no limits</h1>
            <p>Cardless makes it easy to collect Direct Debit<br> payments from customers worldwide, even for<br> one-off or variable amounts.
            </p>
            <button class="btn_start_now">Start Now<i class="fas fa-arrow-right"></i></button> 
          </div>
            </div>
          <div class="col-md-8 col-xs-12"> 
            <div class="hero_area_right">
             <div class="laptop_img"><%= image_tag "mackbook_mockup.png" %></div>
             <div class="btn_play"><a href="#"><i class="fas fa-play"></i></a></div>
          </div>
      </div>
          <!-- /.Hero Area End -->
        
        </div>    
  </header>
<!-- /.Header Section End -->
