<menu>
    <ul>
      <li><a href="/">Home</a></li>`
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact Us</a></li>
      <li><a href="/pricing">Pricing</a></li>
      <li><a href="/faq">Faq</a></li>
      <li><a href="/privacy">Privacy</a></li>
      <li><a href="/terms">Terms</a></li>
      <li><a href="/docs">Docs</a></li>
      <% if current_user.present? %>
        <li><a href="<%= current_user.admin? ? admin_dashboard_index_path : merchant_dashboard_index_path %>">Dashboard</a></li>
      <% end %>
    </ul>

</menu>
<div class="nav_right_area">
    <% if current_user.blank? %>
      <button class="btn_log_in"><i class="fas fa-unlock"></i><%= link_to "Sign In", new_user_session_path, data: {turbolinks: "false"}%></button>
      <button class="btn_sign_up"><i class="fas fa-user"></i><%= link_to "Sign Up", new_user_registration_path, data: {turbolinks: "false"} %></button>
    <% else %>
      <button class="btn_sign_up"><i class="fas fa-user"></i><%= link_to "Logout",destroy_user_session_path, :method => :delete, data: {turbolinks: "false"} %></button>
    <% end %>
</div>
