<div class="verify-wrapper">
    <div class="container">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Profile Verification</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/admin/dashboard">Home</a></li>
                            <li class="breadcrumb-item active">Verify</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12 p-0 m-0">
                <div class="admin-verify-box shadow-sm custom-margin">
                    <h3>Company Info</h3>
                    <table class="table table-bordered mt-3 mb-3">

                        <tbody>
                            <tr>
                                <th scope="row">Country</th>
                                <td>Pakistan </td>
                            </tr>
                            <tr>
                                <th scope="row">Business Type</th>
                                <td>Limited Company </td>
                            </tr>
                            <tr>
                                <th scope="row">Industry</th>
                                <td>It Services</td>
                            </tr>
                            <tr>
                                <th scope="row">What Does Your Busines do ?</th>
                                <td>web design & development</td>
                            </tr>
                            <tr>
                                <th scope="row">What is your company name</th>
                                <td>brain arcs</td>
                            </tr>
                            <tr>
                                <th scope="row">Vat registration number ?</th>
                                <td>PKJHG1245789</td>
                            </tr>
                            <tr>
                                <th scope="row">Street Address</th>
                                <td>sato katla lahore pakistan</td>
                            </tr>
                            <tr>
                                <th scope="row">City</th>
                                <td>Lahore, Pakistan</td>
                            </tr>
                            <tr>
                                <th scope="row">Postcode</th>
                                <td>54000</td>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-lg-5 col-md-6 col-sm-12 p-0 m-0">
                <div class="admin-verify-box shadow-sm custom-margin">
                    <h3>Bank Account Details</h3>
                    <table class="table table-bordered mt-3 mb-3">

                        <tbody>
                            <tr>
                                <th scope="row">Account Holder Name </th>
                                <td>Abdul qayyum</td>
                            </tr>
                            <tr>
                                <th scope="row">Country</th>
                                <td>Pakistan</td>
                            </tr>
                            <tr>
                                <th scope="row">Bank Name</th>
                                <td>Abdul Qayyum</td>
                            </tr>
                            <tr>
                                <th scope="row">Iban</th>
                                <td>4879 78852452</td>
                            </tr>
                        </tbody>

                    </table>
                </div>
                <div class="admin-verify-box shadow-sm custom-margin">
                    <h3>Support contact details</h3>
                    <table class="table table-bordered mt-3 mb-3">

                        <tbody>
                            <tr>
                                <th scope="row">Support Email</th>
                                <td>qayyum543@brainarcs.co</td>
                            </tr>
                            <tr>
                                <th scope="row">Phone Number</th>
                                <td>+923014491338</td>
                            </tr>
                            <tr>
                                <th scope="row">Website</th>
                                <td>brainarcs.co</td>
                            </tr>

                        </tbody>

                    </table>
                </div>
            </div>


            <div class="col-lg-7 col-md-6 col-sm-12 p-0 m-0">


                <div class="admin-verify-box shadow-sm custom-margin">
                    <h3>Brand Information</h3>
                    <table class="table table-bordered mt-3 mb-3">
                        <tbody>
                            <tr>
                                <%= image_tag "laptop.jpg", class:"img-admin-side" %>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="admin-verify-box shadow-sm custom-margin">
                    <h3>Confirm Address</h3>
                    <table class="table table-bordered mt-3 mb-3">

                        <tbody>
                            <tr>
                                <th scope="row">Documents Method</th>
                                <td>Bank Statement</td>
                            </tr>
                            <tr>
                                <%= image_tag "distro-logo-black.png", class:"img-admin-side" %>
                            </tr>

                        </tbody>

                    </table>
                </div>

            </div>




            <div class="col-lg-5 col-md-6 col-sm-12 p-0 m-0">
                <div class="admin-verify-box shadow-sm custom-margin">
                    <h3>Confirm Address</h3>
                    <table class="table table-bordered mt-3 mb-3">

                        <tbody>
                            <tr>
                                <th scope="row">Identity Confirm Method</th>
                                <td>Passport</td>
                            </tr>
                            <tr>    
                                <%= image_tag "distro-logo-black.png", class:"img-admin-side" %>    
                            </tr>

                        </tbody>

                    </table>
                </div>
            </div>




        </div>
    </div>
</div>