


<div class="content-wrapper">
    <!-- Main content -->
    <section class="content m-5">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title ml-5">Editing Bank</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
                <%= render 'form', bank: @bank, url: merchant_banks_path, method: :post %>

                <%= link_to 'Back', merchant_banks_path %>

            </div>
            <!-- /.card -->
          </div>
          <!--/.col (left) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

