.float-right {
    float: right !important;
}
/*
=======================
ADMIN VERIFY STYLES
=======================
*/
.sidebar-mini.sidebar-collapse .verify-wrapper{
    margin-left: -65px;
}
.sidebar-mini .verify-wrapper{
  margin-left: 15.6rem;
  transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out;
}
.admin-verify-box{
    margin: 30px 20px;
    padding: 10px 15px;
    border-radius: 0.25rem;
    border: 1px solid #DEE2E1;
}
.admin-verify-box h3{
    font-size: 1.1rem;
    font-weight: 400;
    margin: 0;
}
.admin-verify-box table{
    border: 1px solid rgba(21, 74, 228, 0.2);
    background: #f4f6f9;
}
.admin-verify-box .table th{
    font-size: 14px;
    font-weight: 600;
}
/**.admin-verify-box .table th, .table td{
    white-space: nowrap;
}**/
.img-admin-side{
    max-width: 100%;
    height: auto;
    margin: 10px 0;
    padding: 15px 5px;
}

.wrapper{
    overflow-x: hidden;
}
section.content .card-body{
    overflow-x: hidden;
}
.table.dataTable{
    white-space: nowrap;
}
#example2_wrapper{
    overflow-x: scroll;
}
.btn-verify{
  padding: 7px 25px;
  color: #fff;
  margin-right: 16px;
  background: #007bff;
}
/*
=======================
FLASH MESSAGE STYLES
=======================
*/
.alert-message {
    max-width: 100%;
    margin-top: 18px;
}

.alert-message .btn-close-alert {
    float: right;
    font-size: 30px;
    color: #040304;
    margin-top: -10px;
    padding-right: 10px;
}

.alert-dismissible {
    padding-right: 0;
}

.alert-warning {
    color: #02152C;
    border-color: #fff;
    background-color: #ffffff;
}
.alert a{
    text-decoration: none;
}