// Place all the styles related to the AccountTransfers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.email-error{
  color: red;
}
.account-btn{
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    padding: 12px 18px;
    float: right;
    margin-bottom: 30px;
    background: var(--theme-primary-color);
    border-radius: 14px;

}
.account-btn:hover{
    color: #FFFFFF;
}
