/*
=================
1: Global Styles
=================
*/
:root {
    --theme-primary-color: linear-gradient(150deg, #A17FE0, #5D26C1);
    --theme-second-color: #59C173;
    --theme-third-color: #02152C;
    --theme-white-color: #ffffff;
    --theme-color-light: #F3F4F5;
    --theme-color-blue: #154AE4;
    --theme-color-border: #0c0b0b;
    --theme-color-green: #7FBA4B;
    --theme-forms-color: #F2F2F2;
    --theme-color-red: #d00000;
    --box-shadow: 0 0.5rem 1rem rgba(22, 87, 255, 0.07);
    --gradient-main: linear-gradient(90deg, rgba(95, 36, 210, 0.9), rgba(219, 63, 132, 0.9));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

*,
::after,
::before {
    box-sizing: border-box;
}

dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding-bottom: 8px !important;
    margin-bottom: 0 !important;
}

li {
    list-style: none;
}

a {
    text-decoration: none !important;
}


.row {
    margin: 0;
}

.btn {
    border: none;
}



body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--theme-third-color);
    font-family: 'Roboto', sans-serif;
    background: var(--theme-white-color);
}

.dash_body {
    width: 100%;
    height: 100vh;
    transition: 0.3s ease-in-out;

}

button.btn-close {
    color: #fff;
    font-size: 28px;
    background: transparent;
    border: none;
    margin-top: -5px;
    outline: none;
}

/* Dashboard Header */
#dash_header {
    width: 100%;
    margin-bottom: 20px;
    padding: 16px 32px;
}

.dash_header_left {
    width: 550px;
}

.dash_header_left .toggle-btn .fa-bars {
    font-size: 28px;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    color: var(--theme-white-color);
    background: var(--theme-primary-color);
}

.welcom_heading {
    font-size: 36px;
    font-weight: 700;
    margin-top: 10px;
    color: var(--theme-third-color);
}

.dash_header_right {
    width: 145px;
}

.dash_header_right ul li {
    display: inline-block;
}

.pagination {
    margin-top: 40px;
    justify-content: center;
}

.notify_icon,
.user_icon,
.bars-mobile {
    width: 50px;
    height: 50px;
    display: block;
    line-height: 50px;
    margin-left: 20px;
    border-radius: 10px;
    background: var(--theme-primary-color);
    z-index: 99;
}


.bars-mobile {
    display: none;
    margin-left: 50px;
}

.notify_icon .fa-bell,
.user_icon .fa-user-circle,
.bars-mobile .fa-bars {
    font-size: 28px;
    display: flex;
    cursor: pointer;
    align-content: center;
    justify-content: center;
    line-height: 50px;
    color: var(--theme-white-color);
}

.dash_logo img {
    max-width: 173px;
    position: absolute;
    left: 10%;
    top: 2%;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 4px 12px;
    background: var(--theme-white-color);
}

.search_input {
    border: none;
    outline: none;
    padding: 4px 12px;
    border-radius: 10px;
    font-weight: 500;
    color: var(--theme-third-color);
    background: var(--theme-white-color);
}

.search .fa-search {
    font-size: 24px;
    cursor: pointer;
    color: var(--theme-second-color);
}

/* Right Sidebar */
.sidebar_left {
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    min-height: 100vh;
    overflow: hidden;
    background: var(--theme-primary-color);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.5) !important;
    transition: 0.3s ease-in-out;
    z-index: 1;
}

.updown-icon {
    transform: rotate(180deg);
}

.dash_body {
    padding-left: 150px;
}

.sidebar_left ul {
    margin-top: 80px;
}

.sidebar_left ul li {
    position: relative;
    width: 100%;
    margin-bottom: 5px !important;
}

.sidebar_left ul li:hover {
    background: var(--theme-second-color);
}

.sidebar_left ul li.active {
    border-left: 2px solid #ffffff;
    background: var(--theme-second-color);
}

.sidebar_left ul li.active a{
    font-weight: 600;
}

.sidebar_left ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--theme-white-color);
}

.sidebar_left ul li a .icon {
    position: relative;
    display: block;
    min-width: 80px;
    height: 40px;
    line-height: 47px;
    text-align: center;
}

.sidebar_left ul li a .icon .fas {
    font-size: 19px;
    color: var(--theme-white-color);
}

.sidebar_left ul li a .title {
    position: relative;
    display: block;
    padding: 0 0;
    height: 40px;
    line-height: 44px;
    text-align: start;
    white-space: nowrap;
    padding-left: -14px;
}

.sidebar_left .fa-home {
    position: absolute;
    bottom: 10px;
    left: 15% !important;
    font-size: 34px;
    color: var(--theme-white-color);
}

.sidebar_left .fas {
    margin-right: 8px;
}

.sidebar_left ul .fa-university {
    color: var(--theme-third-color);
}

.sidebar_left ul li {
    position: relative;
}

.sidebar_left ul.submenu {
    display: none;
    position: absolute;
    top: -34px;
    right: 65px;
}

.sidebar_left ul.submenu li {
    margin-bottom: 14px !important;
}

.submenu.active {
    display: block;
}

.sidebar_left ul.submenu li a {
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--theme-white-color);
}

li.dropdown-btn .icon,
li.dropdown-btn .title {
    position: relative;
    cursor: pointer;
    color: #fff !important;
}

.dropdown-container {
    display: block;
    position: absolute;
    top: -74%;
    left: 18%;
    padding-left: 8px;
    transition: 0.3s ease-in-out;
}

.dropdown-container ul li {
    background: none !important;
}

.dropdown-container ul li.active{
    border-left: none !important;
}

.dropdown-active {
    display: none;
}

p#notice {
    margin-left: 104px;
}
.arrow-left::before{
    position: absolute;
    top: -1px;
    left: -10px;
    font-size: 30px;
    content: "\f3bf";
    color: #fff;
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 600;
    text-decoration: inherit;
    transform: rotate(90deg);

}
.arrow-left-two::before{
    position: absolute;
    top: -1px;
    left: -10px;
    font-size: 30px;
    content: "\f3bf";
    color: #fff;
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 600;
    text-decoration: inherit;
    transform: rotate(90deg);

}
/* Right Sidebar */
.sidebar_right {
    position: fixed;
    top: 0;
    right: 0;
    width: 0px;
    height: 100%;
    background: var(--theme-white-color);
    z-index: 999;
}

.sidebar_right ul {
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: center;
}

.sidebar_right .btn_close {
    position: absolute;
    width: 40px;
    height: 40px;
    cursor: pointer;
    top: 0px;
    left: 0px;
    background: transparent;
}

.sidebar_right .btn_close .fa-times {
    font-size: 22px;
    display: flex;
    line-height: 40px;
    justify-content: center;
    color: var(--theme-white-color);

}

.sidebar_right .profile_bg {
    width: 100%;
    height: 100px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    background: var(--theme-primary-color);
}

.sidebar_right .user_profile {
    width: 50px;
    height: 50px;
    display: block;
    margin-top: -20px;
    margin-left: 60px;
    border-radius: 10px;
    background: var(--theme-second-color);
}

.sidebar_right .user_profile .fa-user-circle,
.notify_sidebar .notify_profile .fa-bell {
    font-size: 28px;
    display: flex;
    align-content: center;
    justify-content: center;
    line-height: 50px;
    color: var(--theme-white-color);
}

.sidebar_right .right_side_ttilte {
    font-size: 20px;
    font-weight: 500;
    margin-top: 18px;
    margin-left: 20px;
}

.sidebar_right .right_side_id {
    font-size: 14px;
    font-weight: 500;
    margin-left: 29px;
    color: var(--theme-primary-color);
}

.sidebar_right .active {
    margin-top: 3px;
    margin-left: 56px;
}

.sidebar_right .active-text {
    font-size: 16px;
    font-weight: 500;
    color: var(--theme-color-green);
}

.sidebar_right .active-dot {
    width: 8px;
    height: 8px;
    border-radius: 50px;
    background: var(--theme-color-green);
}

.sidebar_right .my_profile,
.sidebar_right .my_log_out {
    width: 100%;
    height: 80px;
    background: var(--theme-primary-color);
}

.sidebar_right .profile_my,
.sidebar_right .log_out_my {
    padding: 10px 14px;
    border-radius: 50%;
    background: var(--theme-second-color);
}

.sidebar_right .profile_my .fa-id-badge,
.sidebar_right .log_out_my .fa-sign-out-alt {
    font-size: 22px;
    color: var(--theme-white-color)
}

.sidebar_right .my_profile a,
.sidebar_right .my_log_out a {
    font-size: 18px;
    font-weight: 500;
    color: var(--theme-white-color);
}

.sidebar_right .line1,
.sidebar_right .line2 {
    width: 1005;
    height: 1px;
    margin-top: 20px;
    background: #e6e6e6;
}

.sidebar_right .line2 {
    margin-top: 2px;
    margin-bottom: 20px;
}

.sidebar_right ul {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    text-align: center;

}

.sidebar_right ul li {
    margin: 6px 0 6px 20px;
}

.sidebar_right ul li a {
    font-weight: 500;
    color: var(--theme-primary-color);
}

.sidebar_right .copyright_text {
    font-weight: 500;
    text-transform: uppercase;
    color: var(--theme-primary-color);
}

.sidebar_right .bottom-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
}

/* Notification Sidebar Styles */
.notify_sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 0px;
    height: 100vh;
    background: var(--theme-white-color);
    z-index: 999;
    transition: 0.2s ease-in-out;
}

.notify_sidebar .notify_btn_close {
    position: absolute;
    cursor: pointer;
    top: 8px;
    left: 12px;
    color: var(--theme-white-color);
    background: transparent;
}

.notify_sidebar .notify_head {
    width: 100%;
    height: 100px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background: var(--theme-primary-color);
}

.notify_sidebar .fa-times {
    font-size: 22px;
}

.notify_sidebar .notify_profile {
    width: 50px;
    height: 50px;
    display: block;
    margin-top: -20px;
    margin-left: 154px;
    border-radius: 10px;
    background: var(--theme-second-color);
}

.notify_sidebar .notify_text {
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    padding-top: 2px;
}

.notify_sidebar .notify_info a {
    font-size: 32px;
    font-weight: 700;
    padding: 16px 0 0 30px;
    color: var(--theme-primary-color);
}

.notify_sidebar .notify_box {
    width: 100%;
    height: 162px;
    margin: 27px 0;
    background: var(--theme-primary-color);
}

.notify_sidebar .content_right {
    margin-top: -100px;
    margin-left: 300px;
}

.notify_box .content_left {
    padding: 25px 12px;
}

.notify_box .content_left .title a {
    font-size: 22px;
    font-weight: 500;
}

.notify_box .content_left a,
.notify_box .content_left {
    color: var(--theme-white-color);
}

.notify_box .content_left p {
    width: 85%;
    margin-bottom: 0rem !important;
}


.notify_box .content_right a {
    padding: 4px 8px;
    border-radius: 3px;
    color: var(--theme-second-color);
    background: var(--theme-white-color);
}


/*====================
Chargeback Page Styles
====================*/
.dashboard_main_page {
    margin-left: 4rem;
}

.dashboard_main_box {
    width: 90%;
    position: relative;
    min-height: 348px;
    border-radius: 10px;
    margin: 100px auto;
    padding: 20px 15px;
    background: var(--theme-white-color);
}

.dashboard_main_box .title {
    font-size: 15px;
    font-weight: 700;
    border-radius: 50px;
    padding: 6px 0;
    margin-bottom: 10px;
    text-align: center;
    color: var(--theme-third-color);
}

.dashboard_main_box .line {
    width: 90%;
    height: 1px;
    background: #e6e6e6;
}

.dashboard_main_box .balance_one {
    margin: 26px 0;
}

.dashboard_main_box .balance {
    font-size: 28px;
    font-weight: 700;
    color: var(--theme-primary-color);
}

button.dash_view_more {
    border: none;
    padding: 2px 8px;
    margin-top: 30px;
    border-radius: 4px;
    background: var(--theme-primary-color);
}

.dash_view_more a {
    color: var(--theme-white-color);
}

/* Transcation History Table */
.transaction_history_table {
    overflow-x: scroll;
    margin-top: 30px;
}

.transaction_history_table .table {
    font-size: 16px;
    padding: 20px 10px;
    background: var(--theme-white-color);
}

.breadcrumb {
    background: transparent;
}

.table th,
.table td {
    white-space: nowrap;
    border-top: none;
}
.table .bg-tr{
    background:rgba(93, 38, 193, 0.7);
}
.table thead th {
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    border-bottom: none;
    text-transform: uppercase;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #ffffff;
}
.table-striped tbody tr:nth-of-type(even) {
    color: #001219;
    line-height: 18px;
    background: rgba(93, 38, 193, 0.1);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.bank-table,
.acc-table,
.rewrd-table,
.resv-table,
.witdr-table{
    overflow-x: hidden !important;
}

.table-striped tbody tr:hover {
    color: #ffffff;
    font-weight: 600;
    background: var(--theme-second-color);
}

.transaction_history_table .tabel_status {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background: var(--theme-second-color);
}

.transaction_history_table .tabel_status a {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--theme-white-color);
}

.breadcrumb-item a {
    color: var(--theme-second-color);
}

/* Pagination Styles */
.page-link {
    color: var(--theme-second-color);
    background: var(--theme-white-color);
}

.page-item {
    color: var(--theme-third-color);
}

/*====================
Chargeback Page Styles
====================*/
.cahrgeback_main_tab {
    padding: 12px;
    overflow: auto;
    border-radius: 10px;
    background: var(--theme-white-color);
    box-shadow: 0 0.5rem 1rem rgba(22, 87, 255, 0.7) !important;
}

.cahrgeback_main_tab .charge_box {
    width: 185px;
}

.cahrgeback_main_tab .charge_box .icon {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background: var(--theme-primary-color);
}

.charge_box .icon .fa-suitcase-rolling {
    font-size: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 50px;
    color: var(--theme-white-color);
}

.cahrgeback_main_tab .charge_box .info {
    font-size: 18px;
    font-weight: 500;
    color: var(--theme-primary-color);
}

.cargeback_table {
    font-size: 13px;
    border-radius: 10px;
    padding: 20px;
    overflow: auto;
    margin-bottom: 100px;
    background: var(--theme-white-color);
    box-shadow: var(--box-shadow) !important;
}

.cargeback_table .fas {
    color: var(--theme-primary-color);
}

/*==========================
Virtual Terminal Page Styles
==========================*/
.client_form {
    width: 75%;
    margin: 0 auto;
    background: var(--theme-white-color);

}

.client_form form {
    padding: 20px 34px;
    margin-bottom: 50px;
    border-radius: 10px;
}

.client_form form label {
    font-size: 14px;
    font-weight: 500;
}

.form-control {
    outline: none;
    border: none;
    border-radius: 0px;
    height: calc(1.5em + .75rem + 9px) !important;
    background: var(--theme-forms-color);
}

.form-control:hover {
    transition: 0.4s ease-in-out;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.client_form .heading {
    font-weight: 500;
    margin: 15px 0;
    font-size: 20px;
}

.client_form .form-row {
    padding: 4px 0;
}

.client_form .btn-primary {
    padding: 11px 23px;
    color: var(--theme-white-color);
    border: none;
    border-radius: 5px;
    background: var(--theme-primary-color);
}

/*==========================
Transaction Details Page Styles
==========================*/
.transaction_detail_box {
    padding: 20px;
    border-radius: 10px;
    background: var(--theme-white-color);
    box-shadow: 0 0.5rem 1rem rgba(22, 87, 255, 0.7) !important;
}

.tran_det_head {
    font-size: 28px;
    font-weight: 500;
    text-align: center;
}

.transaction_detail_box .head {
    font-size: 18px;
    font-weight: 600;
    padding: 5px;
    border-radius: 0px;
    color: var(--theme-white-color);
    background: var(--theme-primary-color);
}

.refund_modal_dialog .modal-header,
.modal_withdraw_fund .modal-header,
.acc_trans_dialog .modal-header {
    color: var(--theme-white-color);
    background: var(--theme-primary-color);
}

.modal-header .close {
    font-size: 24px;
    color: var(--theme-white-color);
}

.trans_type_head {
    font-size: 18px;
    font-weight: 500;
}

.trans_type_data {
    font-size: 16px;
}

.trans_card_data .trans_card_head {
    text-transform: capitalize;
}

.trans_card_data .fa-copy {
    cursor: pointer;
}

.transaction_detail_box .fa-copy {
    color: var(--theme-second-color);
}

.btn-refund-modal {
    border: none;
    outline: inherit;
    text-align: center;
    width: 130px;
    border-radius: 50px;
    background: var(--theme-color-red);
}

.btn-refund-modal:hover,
.btn_refund_cancel:hover,
.btn_refund_final:hover,
.btn-refund-modal:hover {
    transition: .2s ease-in-out;
    background: var(--theme-second-color);
}

.refund_modal_dialog {
    margin-top: 10%;
}

.btn_refund_cancel,
.modal_withdraw_fund .btn-withdraw_submit {
    width: 100px;
    border: none;
    outline: inherit;
    background: var(--theme-primary-color);
}

.btn_refund_final {
    width: 100px;
    border: none;
    outline: inherit;
    background: var(--theme-color-red);
}

.alert-success {
    border: none;
    color: var(--theme-color-red);
    border-bottom: 2px solid var(--theme-color-red);
    background: var(--theme-white-color);
}

.alert-heading {
    font-size: 20px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/*==========================
Account Details Page Styles
==========================*/
.main_account_box {
    max-width: 100%;
    min-height: 300px;
    padding: 20px;
    border-radius: 10px;
    border-bottom: 2px solid var(--theme-primary-color);
}

.custom-select-one select {
    padding: 8px 8px;
    outline: none;
    border: none;
}

.main_account_box .main_account_heading {
    padding: 2px 8px;
    border-radius: 5px;
    font-size: 24px;
    text-transform: capitalize;
    color: var(--theme-third-color);
}

.main_account_box .main_account_heading span {
    font-size: 12px;
}

.main_account_box .main_account_list {
    padding: 10px 0;
    margin: 20px 0;
    border-radius: 5px;
    color: var(--theme-white-color);
    background: var(--theme-primary-color);
    border-bottom: 2px solid var(--theme-second-color);
}

.main_account_box .main_account_list .fund_head {
    font-size: 18px;
    font-weight: 600;
}

.main_account_box .child {
    border-bottom: none;
    color: var(--theme-third-color);
    background: var(--theme-white-color);
}

.main_account_list .fund_amount {
    font-weight: 500;
}

.fund_head {
    padding: 10px 0;
}

.fund_head a {
    color: var(--theme-second-color);
}

.main_account_list .fund_head .date {
    font-size: 13px;
    font-weight: 600;
}

.main_account_box .fund_head .lite_text {
    font-size: 12px;
    font-weight: 400;
}

.main_account_box .btn-withdraw_fund,
.main_account_box .btn-account_transfer,
.btn-withdraw_fund,
.btn-account_transfer {
    font-size: 14px;
    font-weight: 500;
    padding: 12px 18px;
    border-radius: 6px;
    color: var(--theme-white-color);
    background: var(--theme-primary-color);
    transition: 0.3s ease-in-out;
}

.main_account_box .btn-withdraw_fund:hover,
.main_account_box .btn-account_transfer:hover,
.acc_trans_dialog .btn_actrans_sub:hover {
    background: var(--theme-second-color);
}

.modal_withdraw_fund .btn-withdraw_submit {
    color: var(--theme-white-color);
    background: var(--theme-second-color);
}

.form-check {
    width: 130px;
}

.acc_trans_dialog {
    margin-top: 6%;
}

.acc_trans_dialog .text-area {
    border: none;
    width: 100%;
    padding: 8px;
    outline: inherit;
    border-radius: 10px;
    background: var(--theme-forms-color);
}

.acc_trans_dialog .text-area:hover,
.acc_trans_dialog .balance:hover {
    background: #fff;
    transition: 0.4s ease-in-out;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important
}

.acc_trans_dialog .btn_actrans_sub {
    width: 130px;
    border-radius: 10px;
    background: var(--theme-primary-color);
}

.acc_trans_dialog .balance {
    padding: 10px 15px;
    border-radius: 0px;
    border-bottom: 2px solid var(--theme-primary-color);
    background: var(--theme-forms-color);
}

/*==========================
Fee Structure Page Styles
==========================*/
.fee_structure_section {
    padding: 10px 0;
}

.fee_structure_box .heading {
    font-size: 28px;
    font-weight: 500;
    text-align: center;
}

.fee_structure_box .box_main {
    padding: 20px;
    border-radius: 10px;
    background: var(--theme-white-color);
}

.fee_structure_box .box_main .box-data {
    font-weight: 500;
    color: var(--theme-white-color);
    background: var(--theme-primary-color);
}

.box_main .box-data.child {
    color: var(--theme-third-color);
    background: rgba(93, 38, 193, 0.1);
}

/*==========================
Api Key Page Styles
==========================*/

.api_key_section {
    padding: auto;
    margin-left: -75px;
}

.api_key_section .api_key_tab {
    padding: 20px;
    border-radius: 10px;
    background: var(--theme-white-color);
}

.api_key_section .api_key_head {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.api_key_section .sub_head {
    font-size: 18px;
    font-weight: 700;
}

.api_key_section .api_key_box {
    position: relative;
    border-radius: 2px;
    color: var(--theme-white-color);
    background: var(--theme-primary-color);
}

.api_key_section .api_key_box.active {
    color: var(--theme-third-color);
    background: rgba(93, 38, 193, 0.1);
}

.api_key_section .sub_head_two {
    font-size: 18px;
    font-weight: 500;
}

.api_key_section .api_key_box.active .fa-copy {
    color: var(--theme-second-color);
    cursor: pointer;
}

.api_key_section .api_key_box .secret_key {
    color: var(--theme-forms-color);
}

.secret .secret_key {
    position: relative;
}

.secret .secret_key .fa-copy {
    cursor: pointer;
}
.click-reveal{
    width: 511px;
    height: 26px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--theme-second-color);
    z-index: 99;
}
#clicktorv{
    font-size: 18px;
    cursor: pointer !important;
    transition: 0.10s ease-out;
}


/*==========================
My Profile Page Styles
==========================*/
section.my_profile {
    margin: 100px 0;
    padding: 15px 25px;
    border-radius: 10px;
    background: var(--theme-white-color);
}

.my_profile .my_profile_card .user_profile {
    width: 60px;
    height: 55px;
    display: block;
    border-radius: 10px;
    background: var(--theme-primary-color);
}

.my_profile .my_profile_card .user_profile .fa-user-circle {
    font-size: 40px;
    display: flex;
    align-content: center;
    justify-content: center;
    line-height: 55px;
    color: var(--theme-white-color);
}

.my_profile .my_profile_card .user_profile_tilte {
    font-size: 20px;
    font-weight: 500;
    margin-top: 14px;
}

.my_profile .my_profile_card .user_profile_id {
    font-size: 14px;
    font-weight: 500;
    color: var(--theme-primary-color);
}

.my_profile .my_profile_card .active-dot {
    width: 8px;
    height: 8px;
    border-radius: 50px;
    background: var(--theme-color-green);
}

.my_profile .my_profile_card .active-text {
    font-size: 16px;
    font-weight: 500;
    color: var(--theme-color-green);
}

.my_profile .iti {
    display: flex !important;
}

.my_profile .btn_submit_profile {
    width: 130px;
    height: 43px;
    border-radius: 50px;
    color: var(--theme-white-color);
    background: var(--theme-primary-color);
    transition: 0.3s ease-in-out;
}

.my_profile .btn_submit_profile:hover {
    background: var(--theme-second-color);
}

/*
==========================
PROFILE NOTICE BAR DESIGN
==========================
*/
#profile-notice {
    padding: 10px 0;
    text-align: center;
    background-color: var(--theme-second-color);
}

#profile-notice p {
    font-size: 14px;
    color: #fff;
    margin-bottom: 0px;
}

#profile-notice a {
    color: #5D26C1;
    padding-left: 8px;
}

.plc {
    padding-left: 16px !important;
}

/*
==========================
PROFILE COMPELETION DESIGN
==========================
*/
header.profile-header .navigation {
    padding: 22px 15px;
    background: var(--theme-primary-color);
}

header.profile-header .navigation .logo img {
    max-width: 150px !important;
    height: auto;
}

.navigation .nav-right ul li a {
    color: #fff;
}

/* Profle Sidebar Design */
section.profile-sidebar .bg {
    margin: 50px 0;
    padding: 15px 25px;
}

section.profile-sidebar .bg ul li {
    margin-bottom: 25px;
}

section.profile-sidebar .bg ul li a {
    color: #000;
}

section.profile-sidebar .bg .number {
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border-radius: 50px;
    border: 2px solid #000;
}

section.profile-sidebar .bg .list {
    padding-left: 12px;
}

section.profile-sidebar .welcome-content {
    width: 100%;
    margin: 50px 0px;
    padding: 15px 25px;
}

section.profile-sidebar .welcome-content P {
    color: #6c757d;
    width: 80%;
    text-align: left;
}

section.profile-sidebar .welcome-content ul {
    margin-top: 15px;
}

section.profile-sidebar .welcome-content ul li,
.basic-package ul li,
.price-boxes .premium-package ul li,
.price-boxes .pro-package ul li {
    color: #6c757d;
    margin-bottom: 15px;
}

section.profile-sidebar .welcome-content .number .fa-check,
.basic-package .number .fa-check,
.price-boxes .premium-package .fa-check,
.price-boxes .pro-package .fa-check {
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    color: #59C173;
    text-align: center;
    border-radius: 50px;
    margin-right: 10px;
    background: rgba(89, 193, 115, 0.3);
}

section.profile-sidebar .welcome-content .btn-continue,
.company-info .btn-continue,
.contact-deatils .contact-box .btn-continue,
.brand-section .brand-box .btn-continue,
.btn-bank-account,
.verifyaccount-section .btn-continue,
.verifystatus-section .verify-status-box .btn-continue,
.verification .detail .btn-upload,
.brand-section .btn-continue {
    padding: 8px 15px;
    border-radius: 50px;
    color: #ffffff;
    border: none;
    background: var(--theme-primary-color);
}

section.profile-sidebar .welcome-content .do-later,
.company-info .go-back,
.contact-deatils .contact-box .go-back,
.brand-section .brand-box .go-back,
.account-card a,
.verifyaccount-section .go-back,
.verifystatus-section .verify-status-box .go-back {
    color: var(--theme-third-color);
    border-bottom: 2px solid var(--theme-second-color);
}

/*
==========================
PACKAGE SECTION DESIGN
==========================
*/
.price-boxes {
    margin: 50px auto;
    max-width: 600px;
}

.package-box-primary {
    padding: 12px 25px;
    border-radius: 20px;
}

.package-box-primary img {
    max-width: 50px;
    margin: 20px 0;
}

.package-box-primary .title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}

.package-box-primary .price {
    font-weight: 400;
    font-size: 22px;
}

.package-box-primary span {
    font-size: 28px;
    font-weight: 700;
}

.package-box-primary p {
    font-size: 12px;
    font-weight: 400;
}

.package-box-primary .ct-border {
    border-left: 1px solid #6c757d;
}

.price-boxes h4 {
    margin-top: 50px;
}

.price-boxes .basic-package,
.price-boxes .premium-package,
.price-boxes .pro-package,
.company-info .detail-box,
.contact-deatils .contact-box,
.brand-section .brand-box,
.verifyaccount-section .account-box,
.verifystatus-section .verify-status-box {
    max-width: 100%;
    padding: 20px;
    margin: 50px 0;
    border-radius: 20px;
    background-color: #ffffff;
}

.price-boxes .basic-package .head-title,
.price-boxes .premium-package .head-title,
.price-boxes .pro-package .head-title {
    font-size: 28px;
    font-weight: 600;
    color: var(--theme-third-color);
    text-align: left;
    padding-bottom: 20px;
    border-bottom: 1px solid #6c757d;
}

.price-boxes .basic-package .head-title span,
.price-boxes .premium-package .head-title span,
.price-boxes .pro-package .head-title span {
    font-size: 18px;
    font-weight: 400;
    color: #6c757d;
    text-align: right;
}

.price-boxes .selected-plan {
    border: 1px solid #59C173;
}

.price-boxes .basic-package .title,
.price-boxes .premium-package .title,
.price-boxes .pro-package .title {
    font-size: 28px;
    color: #59C173;
    margin-top: 20px;
    font-weight: 600;
}

.price-boxes .basic-package p,
.price-boxes .premium-package p,
.price-boxes .pro-package p,
.brand-section .brand-box p {
    color: #6c757d;
    margin-bottom: 20px;
}

.price-boxes .basic-package .btn-selectplan,
.price-boxes .premium-package .btn-selectplan,
.price-boxes .pro-package .btn-selectplan {
    padding: 8px 25px;
    color: #ffffff;
    border-radius: 50px;
    margin-top: 20px;
    background: var(--theme-primary-color);
    border-bottom: 2px solid #59C173;
}

.price-boxes .premium-package .title.premium {
    color: #5D26C1 !important;
}

.price-boxes .pro-package .title.pro {
    color: #A17FE0;
}

/*
=====================
COMPANY INFO STYLES
=====================
*/
.company-info label,
.company-info .personal-details p,
.contact-deatils .contact-box p,
.contact-deatils .contact-box label {
    color: #6c757d;
}

.company-info label span,
.contact-deatils .contact-box label span {
    color: var(--theme-color-red);
}

.company-info .form-group,
.contact-deatils .contact-box .form-group {
    margin-bottom: 30px;
}

.company-info .personal-details h4 {
    margin-bottom: 10px;
}

/*
====================
BRAND INFO STYLES
====================
*/
.brand-section .client-box {
    max-width: 262px;
    padding: 25px;
    margin-bottom: 20px;
    background-color: #f2f2f2;
}

.brand-section .client-box input[type="file"] {
    display: block;
}

.brand-section .client-box .imageThumb {
    max-width: 150px;
    border: 2px solid;
    padding: 1px;
    cursor: pointer;
    margin-bottom: 5px;
}

.brand-section .client-box .pip {
    display: inline-block;
    margin: 10px 10px 0 0;
}

.brand-section .client-box .remove {
    display: block;
    background: var(--theme-primary-color);
    border: 1px solid black;
    color: white;
    text-align: center;
    cursor: pointer;
}

.brand-section .client-box .remove:hover {
    background: white;
    color: black;
}

/*
====================
CONNECT BANK STYLES
====================
*/
.connect-bank {
    padding: 15px 25px;
    background: #F2F2F2;
}

.connect-bank label {
    color: #6c757d;
}

.connect-bank label span {
    color: var(--theme-color-red);
}

.connect-bank input,
.connect-bank .form-control {
    background: #ffffff;
}

.account-card {
    padding: 15px 25px;
    max-width: 430px;
}

.account-card .title {
    font-size: 18px;
    font-weight: 700px;
    color: var(--theme-third-color);
}

.account-card .bank-name {
    font-weight: 600;
}

.new-bank {
    margin: 50px 0;
    padding: 5px 25px;
}

.new-bank .fa-university {
    font-size: 22px;
}

.new-bank .text {
    font-size: 18px;
    font-weight: 600;
}

.new-bank .new-currency {
    margin: 30px 0;
    padding: 20px 12px;
    border: 1px solid var(--theme-second-color);
    background: #F2F2F2;
}

.new-currency .curr-name {
    font-size: 16px;
    font-weight: 600;
}

.new-currency .pay-link a {
    color: #5D26C1;
    font-weight: 600;
}

.verifyaccount-section .account-box p {
    color: #6c757d;
}

.account-data {
    padding: 12px 18px;
    background: #f2f2f2;
}

.account-detail-data {
    font-style: italic;
}

.account-detail-data .ammount,
.account-detail-data .payeName,
.account-detail-data .iban,
.account-detail-data .bic,
.account-detail-data .refrence {
    font-size: 18px;
    font-weight: 600;
}

.account-detail-data .ammount span,
.account-detail-data .payeName span,
.account-detail-data .iban span,
.account-detail-data .bic span,
.account-detail-data .refrence span {
    font-size: 16px;
    font-weight: 400;
    color: #6c757d;
}

.verifystatus-section .verify-status-box .title {
    font-size: 18px;
    font-weight: 400;
    color: #6c757d;
}

.verifystatus-section .verify-status-box P {
    color: #6c757d;
}

.verification .box,
.verification .box-two {
    margin: 30px 0;
    padding: 15px 25px;
    background: rgba(89, 193, 115, 0.1);
    border: 1px solid var(--theme-second-color);
}

.verification .box-two {
    border: 1px solid #154AE4;
    background: rgba(21, 74, 228, 0.1);
}

.verification .detail .custom-control.custom-radio {
    padding: 12px 30px;
    margin: 5px 0;
    background-color: var(--theme-white-color);
}


/*
==========================
PROFILE COMPELETION FOOTER
==========================
*/
footer.ft-profile {
    padding: 20px 15px;
    border-radius: 10px;
}

.ft-profile .left p {
    color: #6c757d;
}

.ft-profile .right ul li {
    display: inline-grid;
}

.ft-profile ul li a {
    color: var(--theme-color-blue);
}

/*
============================
MERCHANT DASH PROFILE EDIT
============================
*/
section.content {
    margin-left: 4rem !important;
}

.profile-edit-heading {
    text-align: left;
}

.aac-inf-head,
.dtborder {
    padding: 0 10px;
    border-bottom: 1px solid rgba(108, 117, 125, 0.7);
}

.user_account_data {
    max-width: 1160px;
    padding-left: 50px;
}

.user_account_data .card {
    border: none;
    padding: 24px 15px;
}

.user_account_data .label {
    color: #6c757d;
    padding: 16px;
}

.user_account_data .data {
    margin-bottom: 0px;
}

.user_account_data .profile-data,
.user_account_data .user-data {
    padding: 12px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.two-step {
    margin-top: 30px;
}

.btn-profile-edit,
.btn-submit-profile,
.btn-ibank-edit,
.btn-ibank-back,
.btn-banks-new,
.btn-create-bank {
    padding: 13px 25px;
    border-radius: 5px;
    color: var(--theme-white-color);
    background: var(--theme-primary-color);
}

.page-item.active .page-link {
    border: 1px solid #f2f2f2;
    background: var(--theme-primary-color);
}

/*
=========================
BANK ACCOUNT DATA STYLES
=========================
*/
.user_account_data-bank {
    max-width: 1160px;
    padding-left: 70px;
}

.user_account_data-bank .dtborder-bank {
    margin-bottom: 30px !important;
    background: #f2f2f2;
    padding: 0 10px;
    border-radius: 8px;
    border: 1px solid rgba(108, 117, 125, 0.2);
}

.user_account_data-bank .card {
    border: none;
}

.user_account_data-bank table .label,
.user_account_data-bank table .user-data {
    padding: 16px;
}

.user_account_data-bank .calender-box {
    margin: 20px 0;
    border-radius: 10px;
    border: 1px solid rgba(108, 117, 125, 0.4);
}

.user_account_data-bank .calender-box .head {
    padding: 26px 12px;
}

.user_account_data-bank .content {
    padding: 12px 10px;
    border-top: 1px solid rgba(108, 117, 125, 0.4);
    border-bottom: 1px solid rgba(108, 117, 125, 0.4);
    background: #f2f2f2;
}

.user_account_data-bank .form-check-label {
    width: 600px;
}

.user_account_data-bank .calender-box p {
    margin-bottom: 0;
    color: rgba(108, 117, 125, 0.9);
}

.user_account_data-bank .calender-box .ft {
    margin: 18px 0;
}

.user_account_data-bank .ft .btn-cal-one,
.user_account_data-bank .ft .btn-cal-two {
    color: #ffffff;
    padding: 12px 16px;
    border: 1px solid #5D26C1;
    background: rgba(93, 38, 193, 0.6);
}

.user_account_data-bank .ft .btn-cal-two {
    color: #040304;
    border: 1px solid #59C173;
    background: rgba(89, 193, 115, 0.6);
}

/*
=======================
LANGUAGE POPUP STYLES
=======================
*/
.merchant-langs {
    width: 60px;
    height: 60px;
    display: block;
    position: fixed;
    top: 90%;
    right: 4%;
    border-radius: 10px;
    background: var(--theme-primary-color);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3) !important;
}

.merchant-langs .fa-language {
    color: #ffffff !important;
    margin: 0 auto;
    padding-top: 15px;
}

.fa-language {
    font-size: 28px;
    margin-right: 8px;
}

.lang-popup {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.lang-popup .lang-popup-content {
    visibility: hidden;
    width: 220px;
    background-color: #fff;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 136%;
    left: 50%;
    margin-left: -154px;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
}

.lang-popup .lang-popup-content::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 72%;
    margin-right: -20px;
    border-width: 10px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
}

.lang-popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

.lang-popup-content .flag-icon {
    font-size: 30px;
    margin-right: 8px;
}

.merchant-langs .lang-popup-content ul li {
    margin-bottom: 14px;
}

.lang-popup-content ul li a {
    font-size: 20px;
    display: flex;
    align-items: center;
    color: #040304 !important;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*
=======================
THANKS PAGE STYLES
=======================
*/
.thanks-section .thanks-box {
    border: 1px solid #FFEEBA;
    background-color: #FFF3CD;
    max-width: 100%;
    padding: 20px;
    margin: 50px 0;
    border-radius: 20px;
}

.thanks-section .thanks-box .thanks-content {
    text-align: center;
}

.thanks-section .thanks-box .thanks-content P {
    color: #6C757D;
}

.thanks-section .thanks-box .thanks-content img {
    max-width: 150px;
    margin: 0 auto;
}

.thanks-section .thanks-box .thanks-content .title {
    color: #02152C;
    font-size: 22px;
    font-weight: 700;
    margin: 10px 0;
}

/*
=======================
FLASH MESSAGE STYLES
=======================
*/
.alert-message {
    max-width: 630px;
    margin-top: 18px;
}

.alert-message .btn-close-alert {
    float: right;
    font-size: 30px;
    color: #040304;
    margin-top: -10px;
    padding-right: 10px;
}

.alert-dismissible {
    padding-right: 0;
}

.alert-warning {
    color: #02152C;
    border-color: rgba(93, 38, 193, 0.6);
    background-color: #ffffff;
}

.fa-info-circle {
    font-size: 16px;
}

.pop-message {
    position: relative;
}

.modal-content {
    border: none;
}

.popUp-content,
.popUp-content-main {
    display: none;
    position: absolute;
    top: 8%;
    right: 17%;
    padding: 12px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.18) !important;
}

.popUp-content-main {
    top: -45px;
    right: -1%;
}

.popUp-content-main::after {
    top: 95% !important;
    left: 59% !important;
    transform: rotate(0deg) !important;
}

.popUp-content::after,
.popUp-content-main::after {
    content: '';
    position: absolute;
    top: 18%;
    left: -8%;
    border-width: 10px;
    border-style: solid;
    transform: rotate(90deg);
    border-color: #fff transparent transparent transparent;
}

.show-hide {
    display: block;
    animation: fadeIn 1s;
}

.popUp-content p,
.popUp-content-main p {
    font-size: 14px;
    font-weight: 400;
    text-align: justify;
    margin-bottom: 0px;
}

.withdraw-btn {
    float: right;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    padding: 12px 18px;
    border-radius: 14px;
    margin-top: -53px;
    background: var(--theme-primary-color);
}

.withdraw-btn:hover {
    color: #ffffff;
}

/*=======================
SPINNER PAGE STYLES
=======================
*/
section.spinner {
    position: relative;
    padding: 80px 0 80px 0;
    /* background: #000; */
}

section.spinner .box {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 35px;
    border-radius: 20px;
    /* background-color: #040304; */
}

section.spinner #chart {
    position: relative;
    width: 550px;
    height: 550px;
    top: 0;
    left: 53%;
    padding-left: 39px;
    padding-top: 12px;
    border: 5px solid #5D26C1;
    border-radius: 100%;
    transform: translate(-50%, 0);
    background-color: #001219;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
}

section.spinner #question {
    text-align: center;
    margin-bottom: 50px;
}

section.spinner #question h1 {
    font-size: 22px;
    margin-top: 50px;
    color: #000;
    margin-bottom: 40px !important;
}

section.spinner .slice {
    border: 2px solid #ffffff;
}

section.spinner .slicetxt {
    font-size: 18px;
    fill: #ffffff;
}

.circle-border {
    border: 2px solid #ffffff;
}

section.spinner #question a {
    text-decoration: none;
    margin-bottom: 50px;
}

section.spinner #question .btn-getreward {
    color: #FFF;
    border: none;
    padding: 18px 16px;
    border-radius: 50px;
    background: linear-gradient(150deg, #A17FE0, #5D26C1);
}

/*=======================
SEETINGS PAGE STYLES
=======================
*/
.merchant-settings {
    margin-left: 74px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.two-step .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(150deg, #A17FE0, #5D26C1);
    -webkit-transition: .4s;
    transition: .4s;
}

.two-step .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.two-step input:checked+.slider {
    background: #59C173;
}

.two-step input:focus+.slider {
    box-shadow: #59C173;
}

.two-step input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.two-step .slider.round {
    border-radius: 34px;
}

.two-step .slider.round:before {
    border-radius: 50%;
}

.content-twostep {
    visibility: hidden;
}

.tsHs {
    visibility: visible;
}

.btn-otp {
    color: #fff;
    padding: 10px 22px;
    background: linear-gradient(150deg, #A17FE0, #5D26C1);
}

/** Media Queries **/
@media (max-width: 480px) {
    .cahrgeback_main_tab {
        width: 85%;
        margin-left: 65px;
    }

    .client_form {
        margin-left: 50px;
    }

    section.my_profile {
        margin: 100px 0 0 55px;
    }

    #profile-notice {
        position: relative;
        z-index: 999;
        padding: 12px 0;
    }

    #profile-notice a {
        font-size: 11px;
    }

    #profile-notice p {
        font-size: 12px;
    }

    .dash_header_right {
        position: absolute;
        top: 59px;
        right: 10px;
        margin-top: 0;
    }

    .welcom_heading {
        font-size: 24px;
        margin-top: 60px;
    }

    .dashboard_main_box {
        margin: 50px 0;
    }

    .user_account_data {
        padding-left: 0px;
    }

}

@media (max-width: 768px) {

    html,
    body {
        overflow-x: hidden;
    }

    .siderbar-open {
        width: 235px !important;
        transition: 0.3s ease-in-out;
    }

    .cahrgeback_main_tab .charge_box {
        width: 129px;
    }

    .dash_header_left {
        width: 388px;
    }

    .cargeback_table,
    .cahrgeback_main_tab {
        margin-left: 50px;
        padding: 10px 0px;
    }

    .bars-mobile {
        position: relative;
        display: block;
        z-index: 9999;
        transition: 0.3s ease-in-out;
    }

    .icon-mobile-sidebar {
        margin-left: 195px !important;
    }

    .sidebar_left {
        width: 0px;
    }

    .dash_body {
        padding-left: 0px;
    }

    .dashboard_main_page {
        margin-left: 0px;
    }

    .bars-mobile {
        margin-left: 0px;
    }

    .main_account_box {
        margin-bottom: 30px;
    }


    section.content {
        margin-left: 1rem !important;
    }

    .user_account_data {
        padding-left: 0px;
    }

    .plc {
        padding-left: 0px !important;
    }

    .user_account_data-bank {
        padding-left: 0;
        padding-right: 30px;
    }
}