<div id="dash_header">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="dash_header_left">
        <div class="bars-mobile">
          <i class="fas fa-bars"></i>
        </div>
      </div>
      <div class="dash_header_right ml-auto">
        <div class="toggle"></div>

        <ul>
          <li>
            <div class="notify_icon shadow-sm"><i class="fas fa-bell"></i></div>
          </li>
          <li>
            <div class="user_icon shadow-sm"><i class="far fa-user-circle"></i></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>