<!-- Notification Sidebar Start -->
    <div class="notify_sidebar shadow-sm">
      <div class="notify_btn_close">
        <i class="fas fa-times"></i>
      </div>
      <div class="notify_head"></div>
      <div class="notify_profile"><i class="fas fa-bell"></i></div>
      <div class="notify_text">Notifications</div>
      <div class="notify_info d-flex mt-3">

        <div class="mark_read"> <a href="#" data-toggle="tooltip" data-placement="right" title="Tooltip on right"> <i
              class="fas fa-book-reader"></i></a></div>
        <div class="notify_trash ml-auto mr-4"><a href="#"><i class="far fa-trash-alt"></i></a></div>
      </div>
      <div class="notify_box">
        <div class="content_left">
          <div class="title"><a href="#">Transaction</a> </div>
          <p> Brain arcs completed thier transaction today</p>
          <div class="time_ago">22 minuts ago</div>
        </div>

        <div class="content_right">
          <div class="mail mb-3"> <a href="#"><i class="fas fa-envelope"></i></a></div>
          <div class="notify_close mb-2"><a href="#"><i class="fas fa-times"></i></a></div>
        </div>

      </div>
    </div>
    <!-- Notification Sidebar Start -->
