<!-- Sidebar Right Start -->
<div class="sidebar_right shadow-sm">
    <div class="btn_close">
      </a><i class="fas fa-times"></i>
    </div>
    <div class="profile_bg"> </div>
    <div class="right_side_profile ml-4">
      <div class="user_profile shadow-sm"><i class="far fa-user-circle"></i></div>
      <div class="right_side_ttilte">DistroPayment</div>
      <div class="right_side_id">Account ID: S-4491</div>
      <div class="wrap d-flex align-items-center active">
        <div class="active-dot"></div>
        <span class="active-text ml-2">Active</span>
      </div>
    </div>


    <div class="line1"></div>
    <ul>
      <li>
        <a href="#">About Us</a>
      </li>
      <li>
        <a href="#">Faq</a>
      </li>
      <li>
        <a href="#">Privacy Policy</a>
      </li>
      <li>
        <a href="#">Terms & Conditions</a>
      </li>
    </ul>
    <div class="line2"></div>

    <div class="my_profile">
      <div class="wrap d-flex align-items-center ml-4">
        <div class="profile_my mt-3"><a href="#"><i class="far fa-id-badge"></i></a></div> <a href="#"
          class="mt-3 ml-3"> My Profile</a>
      </div>
    </div>

    <div class="my_log_out">
      <div class="wrap d-flex align-items-center ml-4">
        <div class="log_out_my mt-3"><a href="#"><i class="fas fa-sign-out-alt"></i></a></div> <a href="#"
          class="mt-3 ml-3"> Log Out</a>
      </div>
    </div>

    <div class="copyright_text pt-3 text-center">&copy; DistroPayment 2021</div>

  </div>
  <!-- Sidebar Right End -->