<div class="col-lg-8 col-md-12 col-sm-12 pr-0">
                    <div class="contact-deatils">
                        <div class="contact-box shadow mx-auto">
                            <h4>Support contact details</h4>
                            <p>DistroPayment makes it easy to collect Direct Debit payments from customers worldwide,
                                even for one-off or variable amounts.</p>

                            <form>
                                <div class="form-group">
                                    <label for="supportEmail">Support Email <span>*</span></label>
                                    <input type="text" class="form-control" id="supportEmail"
                                        placeholder="harderbetter1928@gmail.com">
                                </div>
                                <div class="form-group">
                                    <label for="phoneNumber">Phone Number <span>*</span></label>
                                    <input type="number" class="form-control" id="phoneNumber"
                                        placeholder="Phone Number">
                                </div>
                                <div class="form-group">
                                    <label for="website">Website <span>*</span></label>
                                    <input type="text" class="form-control" id="website" placeholder="Website">
                                </div>
                            </form>
                            <div class="billing-contact mt-5">
                                <h4>Billing contact details</h4>
                                <p>DistroPayment makes it easy to collect Direct Debit payments from customers
                                    worldwide,
                                    even for one-off or variable amounts.</p>
                                <form>
                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="website">Given Name <span>*</span></label>
                                                <input type="text" class="form-control" id="website"
                                                    placeholder="E.g Harder">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="website">Family Name <span>*</span></label>
                                                <input type="text" class="form-control" id="website"
                                                    placeholder="E.g Better">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="email"> Email <span>*</span></label>
                                                <input type="number" class="form-control" id="email"
                                                    placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="phoneNumber">Phone Number <span>*</span></label>
                                                <input type="number" class="form-control" id="phoneNumber"
                                                    placeholder="Phone Number">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="exampleFormControlSelect1">Notification Language
                                                    <span>*</span></label>
                                                <select class="form-control" id="exampleFormControlSelect1">
                                                    <option>English</option>
                                                    <option>English(uk)</option>
                                                    <option>German</option>
                                                    <option>Italian</option>
                                                    <option>Dutch</option>
                                                    <option>English(au)</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                            <div class="developer-contact mt-3">
                                <h4>Developer Contact Details (optional)</h4>
                                <p>DistroPayment makes it easy to collect Direct Debit payments from customers
                                    worldwide,
                                    even for one-off or variable amounts.</p>
                                <form>
                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="website">Given Name</label>
                                                <input type="text" class="form-control" id="website"
                                                    placeholder="E.g Harder">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="website">Family Name</label>
                                                <input type="text" class="form-control" id="website"
                                                    placeholder="E.g Better">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="email"> Email</label>
                                                <input type="number" class="form-control" id="email"
                                                    placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="exampleFormControlSelect1">Notification Language</label>
                                                <select class="form-control" id="exampleFormControlSelect1">
                                                    <option>English</option>
                                                    <option>English(uk)</option>
                                                    <option>German</option>
                                                    <option>Italian</option>
                                                    <option>Dutch</option>
                                                    <option>English(au)</option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                </form>


                            </div>


                            <div class="d-flex align-items-center mt-5">
                                <a href="#" class="btn btn-continue">Continue</a>
                                <a href="#" class="go-back ml-3"><i class="fas fa-arrow-left"></i> go back a step</a>
                            </div>


                        </div>
                    </div>


                </div>
