<div class="col-lg-8 col-md-12 col-sm-12 pr-0">
    <div class="welcome-content">
        <h3>Verify your account to enable payouts</h3>
        <p>popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker</p>

        <h6 class="mt-4">What You Will Need ?</h6>
        <ul>
            <li class="d-flex align-items-center">
                <div class="number"><i class="fas fa-check"></i></div>
                <div class="list">was popularised in the 1960s with the release </div>
            </li>
            <li class="d-flex align-items-center">
                <div class="number"><i class="fas fa-check"></i></div>
                <div class="list">was popularised in the 1960s with the release of</div>
            </li>
            <li class="d-flex align-items-center">
                <div class="number"><i class="fas fa-check"></i></div>
                <div class="list">was popularised in the 1960s with the release of Letraset</div>
            </li>
        </ul>
        <div class="d-flex align-items-center mt-5">
            <a href="<%= company_info_merchant_verification_index_path %>" class="btn btn-continue">Continue <i class="fas fa-arrow-right"></i></a>
            <a href="<%= merchant_dashboard_index_path %>" class="do-later ml-3">Do This later ?</a>
        </div>
    </div>
</div>
