<div class="col-lg-12 col-md-12 col-sm-12 pr-0">
    <div class="thanks-section">
        <div class="thanks-box shadow mx-auto">

            <div class="thanks-content">
                <%= image_tag "thanks-icon.svg" %>
                <!-- <img src="./assets/img/thanks-icon.svg" alt=""> -->
                <div class="title">Welcome to DistroPayment</div>
                <p class="mt-3 mb-3">Your data has been collected and sent to admin you will receive an email regarding status of your profile.</p>
            </div>

        </div>
    </div>


</div>
