<div class="col-lg-12 col-md-12 col-sm-12 pr-0">
    <div class="thanks-section">
        <div class="thanks-box shadow mx-auto">

            <div class="thanks-content">
                <%= image_tag "thanks-icon.svg" %>
                <!-- <img src="./assets/img/thanks-icon.svg" alt=""> -->
                <div class="title">Welcome to DistroPayment</div>
                <p class="mt-3 mb-3">Unable to verify your profile DistroPayment makes it easy to collect Direct Debit payments from customers worldwide, even for one-off or variable amounts. We are built our plateform for both clients and developers with clear and andvanced api system for payment gateway code with Ruby.                                </p>
            </div>

        </div>
    </div>


</div>
