<div class="col-lg-8 col-md-12 col-sm-12 pr-0">
                    <div class="verifyaccount-section">
                        <div class="account-box shadow mx-auto">
                            <h4>Verify Payout Account</h4>
                            <p>DistroPayment makes it easy to collect Direct Debit payments from customers worldwide,
                                even for one-off or variable amounts. We are built our plateform for both clients and
                                developers with clear and andvanced api system for payment gateway code with Ruby.</p>


                             <div class="account-data shadow">
                                <h6>Verify your bank account</h6>
                                <p>popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker</p>

                                <div class="account-detail-data">
                                    <div class="ammount">Ammount: <span>€0.01</span></div>
                                    <div class="payeName">Payee name: <span>DistroPayment</span></div>
                                    <div class="iban">IBAN: <span>GB45 BARC 2017 5542 9099 77</span></div>
                                    <div class="bic">BIC: <span>BARCGB22XXX</span></div>
                                    <div class="refrence">Reference: <span>VE0001PZCAEHN7</span></div>
                                </div>

                                <p class="mt-4">popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker</p>

                            </div>

                            <div class="d-flex align-items-center mt-5">
                                <a href="#" class="btn btn-continue">Continue</a>
                                <a href="#" class="go-back ml-3"><i class="fas fa-arrow-left"></i> go back a step</a>
                            </div>


                        </div>
                    </div>


                </div>
