<div class="col-lg-8 col-md-12 col-sm-12 pr-0">
                    <div class="verifystatus-section">
                        <div class="verify-status-box shadow mx-auto">
                            <div class="title">Verify Payout Account</div>
                            <div class="alert alert-warning alert-dismissible fade show mt-2" role="alert">
                                <strong>VERIFICATION STATUS</strong>
                                <p>Unable to verify your profile DistroPayment makes it easy to collect Direct Debit
                                    payments from customers worldwide,
                                    even for one-off or variable amounts. We are built our plateform for both clients
                                    and
                                    developers with clear and andvanced api system for payment gateway code with Ruby.
                                </p>
                            </div>


                            <div class="verification">
                                <div class="title">REQUESTED INFORMATION</div>
                                <div class="box">
                                    <div class="">Confirm Address</div>
                                    <p>payments from customers worldwide,
                                        even for one-off or variable amounts. We are built our plateform for both
                                        clients
                                        and</p>
                                    <div class="#">
                                        Additional Details For:
                                        <table class="table table-bordered mt-3 mb-3">
                                            <tbody>
                                                <tr>
                                                    <td>abdul bhaya</td>
                                                    <td>Mas de Roda 6-14barcelona 08005</td>
                                                    <td>spain</td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <div class="detail">
                                            <div class="mb-2">Upload Documents</div>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="customRadio1" name="customRadio"class="custom-control-input">
                                                <label class="custom-control-label" for="customRadio1">Bank Statement</label>
                                            </div>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="customRadio2" name="customRadio"class="custom-control-input">
                                                <label class="custom-control-label" for="customRadio2">Utility Bill</label>
                                            </div>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="customRadio3" name="customRadio"class="custom-control-input">
                                                <label class="custom-control-label" for="customRadio3">Council Tax Bill</label>
                                            </div>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="customRadio4" name="customRadio"class="custom-control-input">
                                                <label class="custom-control-label" for="customRadio4">Tv License</label>
                                            </div>
                                            <div class="custom-file mt-4 mb-3">
                                                <input type="file" class="custom-file-input" id="customFile">
                                                <label class="custom-file-label" for="customFile">Choose file</label>
                                            </div>
                                            <a href="#" class="btn btn-upload">Upload Documents</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="box-two">
                                    <div class="">Confirm Your Identity</div>
                                    <p>payments from customers worldwide,
                                        even for one-off or variable amounts. We are built our plateform for both
                                        clients
                                        and</p>
                                    <div class="#">
                                        Additional Details For:
                                        <table class="table table-bordered mt-3 mb-3">
                                            <tbody>
                                                <tr>
                                                    <td>abdul bhaya</td>
                                                    <td>10/05/1998</td>
                                                    <td>spain</td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <div class="detail">
                                            <div class="mb-2"></div>
                                            <ul>
                                                <li>1: Passport</li>
                                                <li>2: National Id Card</li>
                                            </ul>
                                            <div class="custom-file mt-4 mb-3">
                                                <input type="file" class="custom-file-input" id="customFile">
                                                <label class="custom-file-label" for="customFile">Choose file</label>
                                            </div>
                                            <a href="#" class="btn btn-upload">Upload Documents</a>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="d-flex align-items-center mt-5">
                                <a href="#" class="btn btn-continue">Continue</a>
                                <a href="#" class="go-back ml-3"><i class="fas fa-arrow-left"></i> go back a step</a>
                            </div>


                        </div>
                    </div>


                </div>
