/*
====================
GLOBAL STYLES
====================
*/
.col {
  padding: 40px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden !important;
}

body {
  font-size: 16px !important;
  font-weight: 400;
  overflow-x: hidden;
  color: #181C33 !important;
  font-family: 'Roboto', sans-serif;
}

/*
====================
HEADER STYLES
====================
*/
header {
  width: 100%;
  min-height: 100vh;
  background-color: #181C33;
}

header.inner{
  width: 100%;
  min-height: 100%;
}

header .navbar-brand {
  color: #ffffff !important;
}

header .navbar-brand span {
  font-size: 28px;
  font-weight: 700;
}

header .navbar-nav .nav-link {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff !important;
}

header .navbar-light .navbar-toggler {
  color: #ffffff !important;
  border-color: #ffffff !important;
}


header #sidebar-btn {
  display: none;
  width: 50px;
  height: 40px;
}

header .btn-sign-up {
  font-size: 18px;
  padding: 8px 25px;
  color: #ffffff;
  border-radius: 50px;
  outline: none;
  text-transform: uppercase;
  background-color: #469D89;
}

header .login-link {
  font-size: 18px;
  text-decoration: none;
  color: #ffffff !important;
  padding-right: 18px;
  text-transform: uppercase;
}

header h1 {
  font-size: 56px;
  color: #ffffff !important;
}

header p {
  width: 80%;
  font-size: 19px;
  color: #ffffff !important;
}

header .btn-start {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  border-radius: 50px;
  outline: none;
  padding: 8px 25px;
  text-transform: capitalize;
  background-color: #469D89;
}

header .btn:focus {
  box-shadow: none !important;
}

header .vertical-center {
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

header .clients_profiles {
  margin-top: -150px;
}

header .clients_profiles img {
  border: 2px solid #181C33;
}

header .clients_profiles p {
  font-size: 18px;
  font-weight: 400;
  padding-top: 26px;
}

/*
=======================
FEATURED SECTION STYLES
=======================
*/
section.featured-section {
  padding: 50px 0;
}

section.featured-section .feature-title {
  width: 120px;
  height: 30px;
  line-height: 30px;
  border-radius: 50px;
  font-weight: 600;
  color: #1657FF;
  margin: 0 auto;
  border: 2px dashed rgba(22, 87, 255, 0.5);
  text-transform: uppercase;
}

section.featured-section h2 {
  font-size: 32px;
  font-weight: 700;
  color: #040304;
  margin: 5px 0;
}

section.featured-section .service-box {
  width: 100%;
  max-height: 495px;
  border-radius: 24px;
  padding: 50px;
  background-color: #ffffff !important;
  box-shadow: 0 0.5rem 1rem rgba(22, 87, 255, 0.07) !important;
}

section.featured-section .service-box img {
  max-width: 300px;
  margin: 0 auto;
}

section.featured-section .service-box .custom-margin {
  margin-top: -35px;
}

section.featured-section .service-box .title {
  font-size: 22px;
  font-weight: 700;
  margin: 10px 0;
  color: #040304;
}
section.featured-section .service-box p{
  font-size: 14px;
}
#btn-sumb{
  display: none ;
}

/*
=======================
VIRTUAL SECTION STYLES
=======================
*/
section.virtual-terminal {
  padding: 30px 0;
}

section.virtual-terminal .bg {
  padding: 50px 0;
  border-radius: 24px;
  background-color: #F5F6FB;
}

section.virtual-terminal .title {
  font-size: 28px;
  font-weight: 700;
  color: #040304;
}

section.virtual-terminal p {
  width: 67%;
}

section.virtual-terminal .btn-quote {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  border-radius: 50px;
  outline: none;
  padding: 8px 25px;
  text-transform: capitalize;
  background-color: #469D89;
}

/*
=======================
WORKING SECTION STYLES
=======================
*/
section.how-working {
  padding: 50px 0;
}

section.how-working .title-step {
  width: 120px;
  height: 30px;
  line-height: 30px;
  border-radius: 50px;
  font-weight: 700;
  color: #1657FF;
  margin: 0 auto;
  border: 2px dashed rgba(22, 87, 255, 0.5);
  text-transform: uppercase;
}

section.how-working h3 {
  margin: 10px 0;
}

section.how-working p {
  width: 40%;
  margin: 0 auto;
}

section.how-working .step-box {
  border-radius: 24px;
  padding: 50px 20px;
  background-color: #ffffff !important;
  box-shadow: 0 0.5rem 1rem rgba(22, 87, 255, 0.07) !important;
}

section.how-working .step-box .number-one {
  margin-left: auto;
  font-size: 22px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  color: #ffffff !important;
  background-color: #181C33;
}

section.how-working .step-box .num-bg-1 {
  background-color: #1657FF;
}

section.how-working .step-box .num-bg-2 {
  background-color: #469D89;
}

section.how-working .step-box .num-bg-3 {
  background-color: #6479F7;
}

section.how-working .step-box .title {
  font-size: 28px;
  font-weight: 700;
  margin: 5px 0;
  color: #040304;
  margin-top: 50px !important;
}

section.how-working .step-box p {
  width: 100%;
  color: #040304;
}

/*
=======================
CASHLESS SECTION STYLES
=======================
*/
section.cashless {
  padding: 50px 0;
}

section.cashless .bg-cahsless {
  border-radius: 18px;
  padding: 30px 25px;
  background-color: #181C33;
}

section.cashless .nocards-title {
  width: 120px;
  height: 30px;
  font-size: 14px;
  text-align: center;
  line-height: 30px;
  border-radius: 50px;
  font-weight: 600;
  color: #469D89;
  border: 2px dashed #469D89;
  text-transform: uppercase;
}

section.cashless .title {
  font-size: 22px;
  font-weight: 700;
  margin-top: 10px;
  color: #ffffff !important;
}

section.cashless p {
  font-weight: 300;
  color: #ffffff !important;
}

section.cashless .number {
  font-size: 32px;
  font-weight: 700;
  color: #ffffff !important;
}

section.cashless .heading {
  font-size: 14px;
  padding-left: 10px;
  color: #ffffff !important;
}

section.cashless .btn-get-account {
  margin-top: 5px;
  font-size: 18px;
  padding: 8px 25px;
  color: #040304;
  border-radius: 50px;
  outline: none;
  text-transform: uppercase;
  background-color: #469D89;
}

/*
========================
DEVELOPER SECTION STYLES
========================
*/
section.developer {
  padding: 50px 0;
}

section.developer .sub-title {
  font-size: 18px;
  text-transform: capitalize;
  color: #1657FF;
}

section.developer .title {
  font-size: 28px;
  font-weight: 700;
  margin: 5px 0;
  color: #040304;
}

section.developer p {
  width: 70%;
}

section.developer .box {
  padding: 10px 25px;
  border-radius: 10px;
  background-color: #181C33;
}

section.developer .box .init_code .color_three {
  color: #27AE60;
}

/*
=======================
GATEWAY SECTION STYLES
=======================
*/
section.gateway-section {
  padding: 50px 0;
  text-align: center;
  overflow-x: hidden;
}

section.gateway-section .title {
  font-size: 38px;
  font-weight: 700;
  width: 31%;
  text-align: left;
  color: #040304;
}

section.gateway-section p {
  width: 30%;
  text-align: left;
  margin: 0 auto;
}

section.gateway-section .btn-gateway {
  margin-top: 15px;
  border-radius: 50px;
  color: #ffffff !important;
  background-color: #181C33;
}

section.gateway-section img {
  margin-top: -15px;
  padding-right: 70px;
}

/*
=======================
FAQ SECTION STYLES
=======================
*/
section.faq {
  padding-top: 50px;
}

section.faq .sub-title,
section.contact-us .sub-title,
section.privacy-section .sub-title,
section.privacy-section .sub-title-terms,
section.about .sub-title-about,
section.sign-up .sub-title,
section.api-docs .sub-title{
  width: 136px;
  height: 30px;
  line-height: 30px;
  border-radius: 50px;
  font-weight: 700;
  color: #1657FF;
  margin: 0 auto;
  text-align: center;
  border: 2px dashed rgba(22, 87, 255, 0.5);
  text-transform: uppercase;
}

section.faq .title,
section.contact-us .title,
section.privacy-section .title,
section.about .title,
section.about .popular-title,
section.sign-up .title,
section.api-docs .title{
  font-size: 28px;
  font-weight: 700;
  margin: 5px 0;
  color: #040304;
  text-align: center;
}

section.faq .question-bg {
  padding: 50px 0;
  margin-top: 50px;
  background-color: #1657FF;
}

section.faq .question-bg .accordion {
  max-width: 800px;
  margin: 0 auto;
}

section.faq .question-bg .accordion .accordion-button {
  font-size: 22px;
  font-weight: 600;
  background-color: transparent;
}

section.faq .question-bg .accordion .accordion-button::after {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50px;
  color: #1657FF;
  border: 1px solid #1657FF;
  background: url("../assets/chevron-up-blue.svg");
  background-position: center;
  background-size: 50% 50%;
  background-repeat: no-repeat;
}

section.faq .question-bg .accordion .accordion-item {
  border: none;
  background-color: transparent;
}

section.faq .question-bg .accordion .accordion-button:not(.collapsed) {
  box-shadow: none;
  color: #040304;
  background-color: #ffffff !important;
}

section.faq .question-bg .accordion .accordion-button.collapsed {
  color: #ffffff !important;
}

section.faq .question-bg .accordion .accordion-button.collapsed:nth-child(odd) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-width: 90%;
}

section.faq .question-bg .accordion .accordion-button.collapsed::after {
  border: 1px solid #ffffff !important;
  background: url("../assets/chevron-down-white.svg");
  background-position: center;
  background-size: 50% 50%;
  background-repeat: no-repeat;
}

section.faq .question-bg .accordion .accordion-body {
  background-color: #ffffff !important;
}
/*
=======================
CONTACT SECTION STYLES
=======================
*/
section.contact-us{
  padding-top:50px;
}
section.contact-us .contact-bg{
  padding: 50px 0;
}
section.contact-us .contact-wrapper{
  padding: 35px;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0 0.5rem 1rem rgba(22, 87, 255, 0.10) !important;
}
section.contact-us .form-control{
  border-radius: 16px;
  border: 1px solid #dadada !important;
}
section.contact-us .btn-contact-us{
  color: #ffffff;
  padding: 5px 25px;
  border-radius: 50px;
  background-color: #181C33;
}
/*
=======================
PRIVACY SECTION STYLES
=======================
*/
section.privacy-section{
  padding: 50px 0;
  max-width: 800px;
  margin: 0 auto;
}
section.privacy-section .policy-box,
section.api-docs .api-box{
  padding: 20px;
  margin: 20px 0;
  border-radius: 16px;
  background-color: #ffffff;
  box-shadow: 0 0.5rem 1rem rgba(22, 87, 255, 0.07) !important;
}
section.privacy-section .box-title,
section.api-docs .api-box .box-title{
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 22px;
  border-bottom: 2px solid #1657FF;
}
section.privacy-section .number,
section.api-docs .api-box .number{
  width: 30px;
  height: 30px;
  color: #ffffff;
  line-height: 30px;
  border-radius: 50px;
  margin-left: auto;
  background-color: #1657FF;
}
section.privacy-section .policy-box p,
section.api-docs .api-box p{
  text-align: left;
}
/*
=========================
ABOUT PAGE SECTION STYLES
=========================
*/
section.about {
  padding-top: 80px;
}
section.about .sub-title-about{
  margin: 0;
  padding-bottom: 20px;
}
section.about .title{
  text-align: left;
}
section.about .popular-title{
  text-align: center;
}
section.about p.popular-content{
  width: 50%;
  text-align: center;
  margin: 0 auto;
}
section.about .brands-images{
  margin-top: 30px;
  text-align: center;
}
section.about .brands-images img{
  padding: 0 50px;
  margin-bottom: 50px;
}
section.about .clients-info {
  margin: 100px 0;
  color: #ffffff;
  padding: 25px;
  border-radius: 16px;
  background-color: #1657FF;
}
section.about .clients-info .box{
  text-align: center;
  margin: 0 auto;
}
section.about .clients-info .box .title{
  color: #ffffff;
  text-align: center;
}
section.about .clients-info .box .number{
  font-size: 18px;
}
section.about .social img{
  padding: 0 5px;
}
/*
=========================
SIGN UP FORM STYLES
=========================
*/
section.sign-up{
  padding: 0px 0;
}

section.sign-up  #registrationForm,
section.sign-up form#Login {
  margin: 0 auto;
  padding: 50px;
  width: 70%;
  min-width: 300px;
  border-radius: 10px;
  background-color: rgba(242, 242, 242, 0);
  box-shadow: 0.5rem 0.5rem 1rem rgba(22, 87, 255, 0.09) !important;
}

section.sign-up input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  margin: 25px 0;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
section.sign-up input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
section.sign-up .tab {
  display: none;
}

section.sign-up  .btn-custom{
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  cursor: pointer;
  border-radius: 50px;
  background-color: #1657FF;
}

section.sign-up button:hover {
  opacity: 0.8;
}

section.sign-up #prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
section.sign-up .step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgba(22, 87, 255, 0.2);
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

section.sign-up .step.active {
  background-color: rgba(22, 87, 255, 0.9);
}

/* Mark the steps that are finished and valid: */
section.sign-up .step.finish {
  color: #fff;
  border-radius: 50px;
  background-color: #1657FF;;
}
section.sign-up .tab-title{
  font-size: 18px;
  color: #181C33;
  margin-bottom: 20px;
}
section.sign-up .dark_side{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1657FF;
}
/*
======================
API KEYS PAGE STYLES
======================
*/
section.api-docs{
  padding: 100px 0;
}
section.api-docs h4{
  padding: 10px 5px;
}
section.api-docs p{
  padding: 5px 0;
}
section.api-docs .api-box{
  max-width: 1040px;
  margin: 30px auto;
  box-shadow: 0 0.5rem 1rem rgba(22, 87, 255, 0.1) !important;
}
section.api-docs .higlighted-text {
  padding: .9rem .6rem;
  color: #fff;
  text-align: left;
  background-color: #181C33;
  border-bottom: 2px solid #1657FF;
}
section.api-docs span{
  color: #7fba4b;
}
section.api-docs .list-span{
  padding: 5px 25px;
}
section.api-docs .arg-errors{
  padding: 5px 25px;
}
section.api-docs .api-code{
  color: #1657FF;
}
section.api-docs .text-accent{
  padding: .9rem .5rem;
  text-align: left;
  background-color: #f2f2f2;
  border-left: 2px solid #1657FF;
}

/*
=======================
FOOTER SECTION STYLES
=======================
*/
footer {
  padding: 70px 0;
  color: #ffffff !important;
  background-color: #181C33;
}

footer .brand-title {
  padding-bottom: 40px;
}

footer .widget-title {
  font-size: 18px;
  font-weight: 700;
}

footer ul {
  list-style: none;
  padding-left: 0;
}

footer ul li {
  padding: 8px 0;
}

footer ul li a {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff !important;
  text-decoration: none;
}

footer .border {
  width: 98%;
  margin: 0 auto;
  border: 1px solid #ffffff !important;
}

footer .link {
  margin-left: auto;
}

/*
=======================
RESPONSIVE STYLES
=======================
*/
@media (max-width: 1380px) {
  header h1 {
    font-size: 48px;
  }
  header p {
    width: 100%;
  }
  .col {
    padding: 10px;
  }
  section.featured-section .service-box {
    padding: 35px;
  }
  section.featured-section .service-box img {
    max-width: 100%;
  }
}

@media (max-width: 1024px) {
  header h1 {
    font-size: 48px;
  }
  header p {
    width: 100%;
  }
  header .clients_profiles {
    display: none !important;
  }
  section.featured-section .service-box {
    min-height: 470px;
    padding: 35px;
  }
  section.featured-section .service-box img {
    max-width: 100%;
  }
  section.how-working .step-box .title {
    font-size: 24px;
  }
  section.gateway-section .title {
    font-size: 27px;
  }
}

@media (max-width: 768px) {
  header .vertical-center {
    margin-top: 30px;
  }
  header p {
    width: 87%;
  }
  section.developer .title {
    font-size: 26px;
  }
  section.developer p {
    width: 100%;
  }
  section.gateway-section .title {
    width: 50%;
    text-align: center;
  }
  section.gateway-section p {
    width: 50%;
    text-align: center;
  }
  section.virtual-terminal {
    padding: 0 25px;
  }
  section.virtual-terminal p {
    width: 100%;
  }
  section.cashless .btn-get-account {
    padding: 5px 5px;
  }
  .btn-close {
    opacity: 100%;
    background-color: #FDBE34;
  }
  #sidebar-btn {
    display: block !important;
  }
  .offcanvas {
    background: #181C33;
  }
  .offcanvas-title {
    color: #ffffff !important;
  }
  .btn-sidebar {
    background: #FDBE34;
  }
  section.faq .title, section.contact-us .title, section.privacy-section .title, section.about .title, section.about .popular-title{
    font-size: 18px;
  }
  section.about p.popular-content{
    width: 75%;
  }
}

@media (max-width: 480px) {
  .price-box .custom-flex{
    display: block;
  }
  .pricing-header-area ul li{
    display: block;
    font-size: 16px;
  }
  .price-box ul li{
    display: block;
  }
  section.api-docs .arg-errors{
    font-size: 14px;
  }
  section.api-docs .list-span{
    font-size: 14px;
  }
  span.link{
    font-size: 14px;
  }
  section.sign-up #registrationForm, section.sign-up form#Login{
    width: 95%;
    padding: 30px;
  }
  section.sign-up .dark_side{
    display: none;
  }
  section.sign-up .dark_side img{
    padding-top: 100px;
  }
  header .vertical-center {
    margin-top: 0px !important;
  }
  header h1 {
    font-size: 38px;
  }
  .custom-mr{
    margin-top: 70px;
  }
  header p {
    font-size: 18px;
    width: 100%;
  }
  section.featured-section h2 {
    font-size: 26px;
  }
  section.featured-section .custom-margin {
    margin-top: 0px;
  }
  section.how-working p {
    width: 100%;
  }
  section.gateway-section .title {
    font-size: 18px;
  }
  section.gateway-section img {
    margin-top: -10px;
    padding-right: 0px;
  }
  section.gateway-section p {
    width: 98%;
  }
  section.faq .question-bg .accordion .accordion-button {
    font-size: 18px;
  }
  section.about p.popular-content{
    width: 100%;
  }
  footer .copyright-warpper {
    display: block !important;
  }

}
/*
=======================
PRICING SECTION STYLES
=======================
*/
section.pricing {
  padding: 50px 0;
}

.pricing-header-area .box {
  max-width: 550px;
  padding: 20px;
  margin: 20px 0;
  border-radius: 2px;
  background-color: #ffffff;
  /* box-shadow: 0 0.5rem 1rem rgb(22 87 255 / 7%) !important; */
}

.pricing-header-area .box .title {
  font-size: 18px;
  font-weight: 400;
  color: #1657FF;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #1657FF;
}

.pricing-header-area .box p {
  color: #040304 !important;
  margin-bottom: 0;
  font-weight: 300;
  text-align: center;
  width: 100% !important;
  margin-top: 20px;
}

.pricing-header-area .numbers {
  font-size: 28px;
  font-weight: 600;
  color: #181C33;
}

.pricing-header-area .numbers>span {
  font-size: 18px;
}

.pricing-header-area ul li {
  list-style: none;
  display: flex;
  font-size: 18px;
  margin-bottom: 10px;
}

.pricing-header-area ul li .circle {
  font-size: 22px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  color: #ffffff !important;
  margin-bottom: 15px;
}

.pricing-header-area ul li .circle.bg-one {
  background-color: #181C33;
}

.pricing-header-area ul li .circle.bg-two {
  background-color: #1657FF;
}

.pricing-header-area ul li .circle.bg-three {
  background-color: #469D89;
}

.ft-title {
  padding: 10px;
  background-color: rgba(22, 87, 255, 0.1);
}

.ft-title a {
  font-size: 18px;
  color: #181C33;
  text-decoration: none;
}
.price-box {
  padding: 20px;
  margin: 30px auto;
  background-color: #ffffff;
  /* box-shadow: 0 0.5rem 1rem rgb(22 87 255 / 7%) !important; */
}
.price-box .number{
  width: 40px;
  height: 40px;
  font-size: 30px;
  line-height: 40px;
  border-radius: 50px;
  text-align: center;
  color: #ffffff;
  background-color: #1657FF;
}
.price-box .title{
  font-size: 18px;
  color: #181C33;
  font-weight: 600;
  padding-left: 10px;
}
.price-box p{
  margin-top: 15px;
  padding-left: 25px;
}
.price-box  img{
  max-width: 20px;
  color: #fff;
}
.price-box ul li{
  margin-bottom: 20px;
  padding-right: 20pxs;
}
.percentage{
  color: #469D89;
}
.price-box .custom-flex{
  display: flex;
  justify-content: space-between;
}
.sumb-buttons{
  float: right;
  display: flex;
}
